@mixin inline-flex($jc:space-between, $ai:initial) {
  display: flex;
  flex-wrap: wrap;
	justify-content: $jc;
	align-items: $ai;
	& > *{
		display: inline-block;
	}
}

@mixin pseudo-el($pos:absolute, $top:50%, $left:0, $right:initial, $bottom:initial, $pseudo:true) {
	@if $pseudo {
		content: '';
   }
	position: $pos;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin op-hover(){
  transition: opacity .2s;
	&:hover{
	  opacity: .6;
	}
}