@charset "utf-8";

// if you use the preprocessor command line change @import to @use .by Dev
@import 'fonts';
@import 'variable';
@import 'mixin';

// start force load
.copy::before{
  content: '';
  width: 0;
  height: 0;
  background: url(/assets/images/bg_mask_01.png), 
  url(/assets/images/bg_mask_02.png),
  url(/assets/images/bg_mask_01-white.png);
}

// end force load

body{
  position: relative;
  font-family: "Rubik", sans-serif;
	color: #443a35;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.lock{
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 12px;
    height:100%;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  &::-webkit-scrollbar-thumb {
    background: #888; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  &.shadow::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 7;
  }
}

.wa-us{
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 140px;
  cursor: pointer;
  z-index: 90;
}

.onlyPc{
  display: block !important;
}
.onlySp{
  display: none !important;
}

*:focus {
  outline: none;
}

input:-webkit-autofill
{
 box-shadow: 0 0 0 30px #e7d3d5 inset !important;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child{
  margin-top: 0;
}

h3{
  font-weight: 700;
}

p,label,.general-list li, td{
  font-size: 1.125em;
  line-height: 1.5;

  & .small {
    font-size: .8em;
  }
}

input:not([type="radio"]),textarea,select{
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  resize: none;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  
  &:-webkit-autofill{
    box-shadow: 0 0 0 30px #ffffff inset !important;
  }

  &::-webkit-input-placeholder{
    color: #dbdbdb;
  }

  &:focus,&.focus{
    border: 1px solid #ba212a;
  }
}

input{
  &[type="radio"]+label{
    margin-right: 25px;
  }
  
  &[type="radio"]+label:last-child{
    margin-right: 0;
  }

  &[type="radio"]:checked,
  &[type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  &[type="radio"]:checked + label,
  &[type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      line-height: 27px;
      display: inline-block;
      color: #666;
  }
  &[type="radio"]:checked + label:before,
  &[type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 25px;
      border: 1px solid #443a35;
      border-radius: 100%;
      background: #fff;
  }
  &[type="radio"]:checked + label:after,
  &[type="radio"]:not(:checked) + label:after {
      content: '';
      width: 17px;
      height: 17px;
      background: #443a35;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  &[type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  &[type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

select {
  appearance: none;
  background: url(/assets/images/ico_arrow.png) no-repeat center right 15px;
  background-size: 13px;
}

#top-button{
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(-60deg, #741422, #e08890);
  transition: .5s;
  transform: scale(0) rotate(260deg);
  opacity: .3;
  z-index: 90;

  &.on{
    transform: scale(1) rotate(0deg);
  }

  &:hover{
    opacity: 1;
  }

  &::after{
    @include pseudo-el($left:50%);
    width: 35px;
    height: 35px;
    background: url(/assets/images/ico_arrow-02.svg) no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
  }
}

.quote{
  position: relative;
  padding: 0 20px;

  &::before,&::after{
    position: absolute;
    content: '"';
    width: 20px;
    height: 20px;
    line-height: 50px;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
  }

  &::before{
    top: -15px;
    left: -15px;
  }

  &::after{
    top: 100%;
    right: 20px;
  }

  &+p{
    margin-top: 35px;
    padding: 0 20px;
  }
}

.container {
	position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  & + .container {
    margin-top: 90px
  }
}

.half-01-container{
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.form-group{
  width: 100%;
  padding: 0 20px;
  &:nth-child(n+3){
    margin-top: 25px;
  }
  &>*{
    display: block;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  & input, & textarea, & select{
    margin-bottom: 0;
  }
  .text-wrap &{
    padding: 0;
  }
}

.flex, .fleres{
  @include inline-flex();
}

.flex.justify-left{
  justify-content: flex-start;
}

.bg-red-main{
  background-image: url(/assets/images/bg-redmain.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  & .title-lv1, .title-lv2, .title-lv3{
    color: #eafc03;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.4);
  }

  & .video-thumbnail{
    border: 2px solid #ffffff;
  }

  &.vision{
    background: url(/assets/images/bg_vision.png), url(/assets/images/bg-redmain.jpg);
  }
  &.mission{
    background: url(/assets/images/bg_mission.png), url(/assets/images/bg-redmain.jpg);
  }
  &.tradition{
    background: url(/assets/images/bg_tradition.png), url(/assets/images/bg-redmain.jpg);
  }
  &.vision, &.mission, &.tradition{
    background-size: 100% auto, 500%;
    background-position: center bottom, center top;
    background-repeat: no-repeat;
    mix-blend-mode: hard-light;
  }
}

.image-center{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.center{
  text-align: center;
}

.container{
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

.flex, .fleres{
  @include inline-flex();
}

.gen-link{
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: #ba212a;
  @include op-hover()
}

.general-list{
  margin: 0;
  & > li{
    position: relative;
    padding-left: 40px;

    .bg-red-main &{
      list-style: inherit;
      padding-left: 15px;
      font-size: 105%;
      line-height: 2;
      color: #ffffff;
    }
  }

  & > li::before{
    @include pseudo-el($left:15px, $top: 12px);
    width: 13px;
    height: 13px;
    background: url(/assets/images/ico_arrow.svg) no-repeat;
    background-size: 100%;
    fill: #443a35;
    filter: brightness(0.35);
    transform: translateY(-50%) rotate(90deg);

    .bg-red-main &{
      content: ')';
      top: 0px;
      left: 0px;
      height: 1.25em;
      color:#ffffff;
      filter: none;
      background:none;
      transform: none;
    }
  }
}

ol.general-list{
  & > li{
    list-style: inherit;
    padding-left: 15px;
    font-size: 105%;
    line-height: 2;
    color: #443a35;
  }
  & > li::before{
    content: ')';
    top: 0px;
    left: 0px;
    height: 1.25em;
    color:#443a35;
    filter: none;
    background:none;
    transform: none;
  }
}

.icon{
  margin-top: 40px;
  padding: 0 30px;

  & li{
    margin: 20px;
    padding-left: 65px;

    &::before{
      width: 30px;
      height: 30px;
      transform: translateY(-50%) rotate(0deg);
    }

    &.email{
      white-space: normal;
      word-break:break-all;
    }

    &.email::before{
      background: url(/assets/images/ico_contact_email.svg) no-repeat;
    }

    &.phone::before{
      background: url(/assets/images/ico_contact_phone.svg) no-repeat;
    }

    &.wa::before{
      background: url(/assets/images/ico_contact_whatsapp.svg) no-repeat;
    }

    &.maps::before{
      background: url(/assets/images/ico_contact_maps.svg) no-repeat;
    }
  }
}

.full-content{
  width: 100%;
}

.two-col{
  width: 50%
}

.three-col{
  width: 33.3%
}

.four-col{
  width: 25%
}

.require{
  label {
    &>span:not(.small){
      color: #ba212a;
    }

    & .small{
      font-size: 80%;
    }
  }
}

.modal-fullscreen{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba($color: #ffffff, $alpha: 0.8);

  & .container{
    height: 100%;
  }

  & .video-player, & .image-viewer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 60px);
    transform: translate(-50%, -50%);

    & .btn-close{
      position: absolute;
      top: -20px;
      right: 0;
      display: inline-block;
      width: 35px;
      height: 35px;
      font-size: 1.25em;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      background: linear-gradient(105deg, #741422, #df878f);
      border-radius: 10px;
      transform: translateY(-100%);
      cursor: pointer;
      &:hover{
        opacity: 0.6;
      }
    }
  }
  & .image-viewer{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      margin: auto;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.header{
  @include pseudo-el($top:0, $left:50%, $pseudo:false);
  width: calc(100% - 60px);
  max-width: 1400px;
  padding: 0 30px;
  background-color: rgba($color: #ffffff, $alpha: 0.07);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 6px rgba($color: #000000, $alpha: 0.2);
  transform: translateX(-50%);
  z-index: 90;

  &.sticky{
    position: fixed;
    top: -100px;
    background-color: #ffffff;
    backdrop-filter: blur(0px);
    transition: top .5s;
    z-index: 91;

    &.on{
      top: 0px;
    }

    &, & a{
      color: #443a35;
    }

    & .logo{  
      & img{
        filter: none;
      }
    }

    & .gnav{
      & li a{
        text-shadow: none;
  
        &::before{
          background: rgba($color: #bb212a, $alpha: 0.1);
        }
      }
      & .dropdown {
        & > .dropdown-content{
          background-color: #ffffff;
          box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.15);
          & a{
            &:hover{
              background: rgba($color: #bb212a, $alpha: 0.1);
            }
          }
          & > li + li{
            border-top: 1px solid #f0f0f0;
          }
        }
      }
      & .dropdown > a{
        &::after{
          fill: #443a35;
          filter: brightness(0.35);
        }
      }
    }
  }

  &, & a{
    color: #ffffff;
    font-weight: 500;
  }

  & .logo{
    padding: 20px 0;
    @include op-hover();

    & img{
      filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 0.45));
    }
  }

  & .burger-menu{
    display: none;
  }

  & .gnav{
    display: flex;
    margin: 0;
    & li a{
      position: relative;
      display: flex;
      height: 100%;
      text-align: center;
      align-items: center;
      padding: 0 20px;
      text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.45);

      &::before{
        @include pseudo-el();
        width: 100%;
        height: calc(100% - 15px);
        border-radius: 20px;
        background: rgba($color: #bb212a, $alpha: 0.3);
        z-index: -1;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .3s;
      }
    }
    & li:hover a::before{
      opacity: 1;
    }
    & .dropdown {
      position: relative;
      & > .dropdown-content{
        @include pseudo-el($top:-300%, $left:50%);
        width: 300%;
        max-width: 210px;
        padding: 20px 0;
        border-radius: 20px;
        background-color: rgba($color: #ffffff, $alpha: 0.07);
        box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.1);
        backdrop-filter: blur(15px);
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.5s;
        z-index: -1;
        & > li + li{
          border-top: 1px solid rgba($color: #f0f0f0, $alpha: 0.2);
        }
        & a{
          display: block;
          width: 100%;
          padding: 10px;    
          line-height: 1.3;
          background: rgba($color: #bb212a, $alpha: 0.0);
          &::before{
            content: none;
          }
          &:hover{
            background: rgba($color: #bb212a, $alpha: 0.3);
            transition: background-color .3s;
          }
        }
        &::before{
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          height: 30px;
          transform: translateY(-100%);
        }
      }
      &:hover > .dropdown-content{
        top:calc(100% + 30px);
        opacity: 1;
      }
    }
    & .dropdown > a{
      padding-right: 30px;
      &::after{
        @include pseudo-el($left:inherit, $right:8px);
        width: 13px;
        height: 13px;
        background: url(/assets/images/ico_arrow.svg) no-repeat;
        background-size: 100%;
        fill: #ffffff;
        filter: drop-shadow(0px 0px 2px rgba($color: #000000, $alpha: 0.45));
        transform: translateY(-50%) rotate(180deg);
        transition: .3s;
      }
    }
    
    & .dropdown:hover > a::after{
      transform: translateY(-50%) rotate(00deg);
    }
  }
}

.footer{
  position: relative;
  
  &::before,&::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
  }

  &::before{
    left: 0;
    background: url(/assets/images/bg-redmain.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  &::after{
    right: 0;
    background-color:  #f4e9ea;
  }

  .container{
    background: url(/assets/images/bg_footer.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .ctn-footer{
    padding: 60px 0;
    &:first-child{
      color: #ffffff;
    }

    &>*{
      align-items: center;
    }

    .footer-menu{
      justify-content: flex-end;
      margin-bottom: 3.5em;
      & a{
        font-size: 1em;
        font-weight: bold;
        color: #443a35;
        transition: 0.3s;
        &:hover{
          color: #741422;
        }
        &+a{
          margin-left: 50px;
        }
      }
    }

    .footer-news-letter{
      text-align: right;
      & > p{      
        font-size: .9em;
        padding-left: calc(100% - 400px);
      }
    }

    .form-news-letter{
      display: flex;
      margin-top: 1.5em;
      padding-left: calc(100% - 445px);
      & input[type="email"]{
        display: inline-block;
        width: 83%;
        padding: 15px 20px;
        font-size: 1em;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #443a35;
        background: rgba($color: #443a35, $alpha: 0.1);
        &::placeholder {
          color: #443a35;
        }
      }
      & button[type="submit"]{
        display: inline-block;
        width: 17%;
        background: url(/assets/images/ico_send.svg) center no-repeat, linear-gradient(-45deg, #741422 25%, #df878f);
        background-size: 50%, auto;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .social-media{
    display: flex;
    margin: 3em 0;
    justify-content: flex-end;
    & a{
      display: inline-block;
      &+a{
        margin-left: 3em;
      }
      & img *{
        fill: #443a35 !important;
      }
      @include op-hover();
    }
  }

  .copy{
    margin: 0;
    text-align: right;
    font-size: 1em;
  }

  .footer-address{
    max-width: 320px;
    margin: 2.5em 0;
  }

  .footer-contact{
    position: relative;
    width: 320px;
    height: 165px;
    background: url(/assets/images/img_footer_contact.png) no-repeat;
    background-size: 100% 100%;

    .contact-link a{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      text-align: center;
      word-break: break-all;
      line-height: 165px;
      color: #ffffff;
    }

    .contact-icon *{
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-60%, 15%);
      z-index: -1;
    }
  }
}

.main-visual{
  position: relative;
  padding-top: 95px;
  height: 100vh;
  min-height: 500px;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  z-index: -1;

  &.upbg-position{
    background-position: top;
  }

  &.half-mv{
    height: 55vh;
    min-height: 300px;

    & h1{
      & .title{
        margin-bottom: 0;
      }
    }
  }
  
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
  backface-visibility: hidden;

  &::before{
    @include pseudo-el($top:0, $left:0);
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  & .mv-wrap{
    display: flex;
    align-items: center;
    height: 100%;
  }

  & .mv-ctn-group{
    width: 100%;
    &.half{
      width: 50%;
    }
  }

  & h1{
    & .title{
      display: block;
      margin: 20px 0;
      font-size: 1.5em;
      line-height: 1.5;
      font-weight: bold;
    }
    & .subtitle{
      display: block;
      font-size: 0.75em;
      line-height: 1.5;
      font-weight: normal;
    }
  }

  & + .section{
    margin-top: 50px;
  }
}

.breadcrumbs{
  @include inline-flex($jc:flex-start, $ai:initial);
  margin: 0;
  z-index: 0;
  & a:hover{
    background-color: #ececec;
  }
  
  & a, & span{
    border: 1px solid #e3e2e2;
    display: block;
    padding: 0 35px;
    line-height: 45px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #443a35;
    transition: background-color .5s;
  }

  & li:nth-child(1){
    z-index: 6;
  }
  & li:nth-child(2){
    z-index: 5;
    margin-left: -30px;
  }
  & li:nth-child(3){
    z-index: 4;
    margin-left: -30px;
  }
  & li:nth-child(4){
    z-index: 3;
    margin-left: -30px;
  }
  & li:nth-child(5){
    z-index: 2;
    margin-left: -30px;
  }
  & li:nth-child(6){
    z-index: 1;
    margin-left: -30px;
  }

  & li{
    position: relative;
    & ::before{
      content: '';
      position: absolute;
      top: 50%;
      right: -8px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #443a35 url(/assets/images/ico_arrow.svg) center no-repeat;
      background-size: 10px;
      transform: translateY(-50%) rotate(90deg);
      z-index: 7;
    }
  }

  & .current{
    & span{
      padding-left: 50px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: linear-gradient(-105deg, #741422, #df878f);
      color: #ffffff;
    }
    & ::before{
      content: none;
    }
  }
}

.divider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6vw;
  & img{
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.free-img{
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  & img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.section {
  padding: 100px 0;

  &+.footer{
    margin-top: 100px;
  }

  &.maps{
    position: relative;
    padding: 0;
    &+.footer{
      margin-top: 0px;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 6vw;
      background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(255,255,255,0) 100%);
    }
  }
}

.image-popup{
  cursor: pointer;
}

.gallery{
  &+.gallery{
    margin-top: 20px;
  }
  &.photos-01{
    & .content-image{
      height: 700px;
    }
    &.f-lift{
      & .content-image{
        height: 400px;
      }
    }
  }
  &.photos-02{
    @include inline-flex();
    & .single{
      width: calc(35% - 10px);
    }
    & .album{
      width: calc(65% - 10px);
      & .album-wrap-01{
        @include inline-flex();
        & .imgal-01{
          width: calc(65% - 10px);
          height: 300px;
        }
        & .imgal-02{
          width: calc(35% - 10px);
          height: 300px;
        }
      }
      & .album-wrap-02{
        @include inline-flex();
        & > *{
          width: calc(50% - 10px);
          height: 300px;
        }
      }
      & > *+*{
        margin-top: 20px;
      }
    }
  }
  &.photos-03{
    @include inline-flex();
    & > *{
      width: calc(50% - 10px);
      height: 350px;
    }
  }
  &.photos-04{
    @include inline-flex();
    & .imgal-01{
      width: calc(65% - 10px);
      height: 350px;
    }
    & .imgal-02{
      width: calc(35% - 10px);
      height: 350px;
    }
  }
  &.photos-05{
    @include inline-flex();
    & > *{
      width: calc(calc(100% - 40px) / 3);
      height: 350px;
    }
  }
  & .img-wrap{
    border-radius: 20px;
    overflow: hidden;
    &:hover img{
      transform: scale(1.1);
    }
  
    & img{
      transform: scale(1);
      transition: .3s;
    }
  }
  &.videos-01{
    @include inline-flex();
    padding: 0 30px;
    & > *{
      width: calc(50% - 20px);
    }
    & > *:nth-child(n+3){
      margin-top: 40px;
    }
  }
}

.section-headtext{
  align-items: center;
  & .form-group{
    width: fit-content;
    color: #ffffff;
    & input:not([type="radio"]), select{
      width: fit-content;
      padding: 5px 25px 5px 10px;
      color: #ffffff;
      border-radius: 5px;
      & option{
        color: #443a35;
      }
      &:focus{
        border: 1px solid #ffffff;
      }
    }
    & label{
      margin-bottom: 0;
      margin-right: 10px;
    }
    & select{
      font-size: .85em;
      background: url(/assets/images/ico_arrow.png) no-repeat center right 10px;
      background-size: 10px;
      filter: brightness(0) invert(1);
    }
  }
}

.ctn-style-01{
  align-items: center;
  .content-image{
    width: 55%;
    height: 500px;
    overflow: hidden;
  }
  .content-text{
    width: 40%;
  }
  .auto-height-image{
    height: auto !important;
  }
}

.accordion{
  padding: 10px;
  border: 2px solid #f5eded;
  border-radius: 20px;

  & .accord-button, & .accord-content{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 70px 0 85px;
    border-radius: 20px;
    min-height: 95px;
    overflow: hidden;

    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 42px;
      font-size: 3.2em;
      font-weight: bold;
      transform: translate(-50%, -50%);
    }

    & span{
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 25px;
      height: 25px;
      transform: translate(-50%, -50%);
      &::before, &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #443a35;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all .5s;
      }
      &::after{
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  & .accord-button{
    cursor: pointer;
    &::before{
      content: 'Q';
    }
  }

  & .accord-content{
    min-height: 0px;
    max-height: 0px;
    padding-right: 20px;
    background-color: #f5eded;
    transition: .5s;

    & > *{
      opacity: 0;
      transition: .5s;
    }

    & a{
      font-weight: bold;
      color: #bb212a;
    }

    &::before{
      content: 'A';
      color: #bb212a;
      opacity: 0;
      transition: .5s;
    }
  }

  &.on{
    & .accord-content{
      min-height: 95px;
      max-height: 600px;
      & > *, &::before{
        opacity: 1;
      }
    }

    & span{
      &::before, &::after{
        transform: translate(-50%, -50%) rotate(180deg);
      }
      &::after{
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }

  & + .accordion{
    margin-top: 1.5em;
  }
}

.paginationjs{
  & .paginationjs-pages{
    & ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & li{
        margin: 0 10px;
        & a{
          position: relative;
          display: block;
          padding: 0 15px;
          width: 2.75em;
          text-align: center;
          font-size: 1.15em;
          color: #443a35;
          line-height: 2.75em;
          border-radius: 10px;
          border: 1px solid #e3e2e2;
        }
      }
      & li.active,& li.J-paginationjs-page:hover{
        & a{
          color: #ba212a;
          border: 1px solid #ba212a;
        }
      }
      & li.paginationjs-prev,
      & li.paginationjs-next{
        margin-left: 3em;
        & a{
          color: transparent;
          border: 1px solid #ffffff;
          &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            right: initial;
            bottom: initial;
            width: 25px;
            height: 25px;
            background: url(/assets/images/ico_arrow.svg) no-repeat;
            background-size: 100%;
            fill: #443a35;
            filter: brightness(0.35);
            transform: translate(-50%, -50%) rotate(
              90deg);
          }
        }
      }
      & li.paginationjs-prev{
        margin-left: 0;
        margin-right: 3em;
        & a{
          &::after{
            transform: translate(-50%, -50%) rotate(
              -90deg);
          }
        }
      }
      & li.paginationjs-prev.disabled,
      & li.paginationjs-next.disabled{
        & a{
          &::after{
            opacity: .2;
          }
        }
      }
      & li.paginationjs-prev:hover,
      & li.paginationjs-next:hover{
        & a{
          &::after{
            filter: invert(71%) sepia(32%) saturate(1792%) hue-rotate(306deg) brightness(105%) contrast(100%)
          }
        }
      }
    }
  }
}

.flex-sb{
  justify-content: space-between !important;
}

.ctn-twocoll-01{
  justify-content: space-around;
  & > *{
    width: calc(98% / 2);
    max-width: 550px;
  }

  h2+ &{
    margin-top: 80px;
  }
}

.ctn-threecoll-01{
  justify-content: space-between;
  & > *{
    width: calc((100% - 40px) / 3);
  }

  & > *:nth-child(n+4){
    margin-top: 25px;
  }

  * + &{
    margin-top: 50px;
  }

  &.flex-start{
    justify-content: start;
    & > *:nth-child(3n-1){
      margin-right: 1.5%;
      margin-left: 1.5%;
    }
  }
}

.card-style-01{
  border: 1px solid #e3e2e2;
  border-radius: 20px;
  overflow: hidden;

  &.no-border{
    border: none;
    border-radius: 0px;
    &:hover img{
      transform: none !important;
    }
  }

  & .img-wrap{
    &.circle{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: auto;
    }
  }

  &.tab-button{
    border: 1px solid #ffffff;
    cursor: pointer;
    overflow: visible;

    & .img-wrap{
      border-radius: 20px;
    }

    &:hover{
      border: 1px solid #ba212a;
    }

    &.active{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: -101px;
        left: 50%;
        width: 0; 
        height: 0; 
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid #f6edee;
        transform: translateX(-50%);
      }
      &.grey::after{
        border-bottom-color: #f1f1f0;
      }
      &.cream::after{
        border-bottom-color: #f0e9df;
      }
      &.pink::after{
        border-bottom-color: #f6edee;
      }
    }
  }

  &.bg-red-main{
    & .desc-card{
      color: #ffffff;
      line-height: 2;
      min-height: 300px;
    }
  }
}

.promo-slider{
  & .card-style-01{
    margin: 0 20px;
  }
  & .hidden-over{
    cursor: pointer;
    @include op-hover();
  }
}

.card-review{
  max-width: 900px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e3e2e2;
  opacity: .2;
  background: url(/assets/images/bg-redmain.jpg) no-repeat;
  background-size: cover;

  .slick-current &{
    opacity: 1;
  }

  .blog &{
    max-width: 100%;
    background: #ffffff;
    .card-body{
      width: 50%;
      padding: 5px 35px;
      flex-wrap: wrap;
      & .wrap-quotes{
        .desc-card{
          color: #443a35;
          text-shadow: none;
          & + p{
            color: #443a35;
            text-shadow: none;
          }
        }
      }
    }
    .card-img{
      width: 50%;
      &.mask_01::after{
        background: url(/assets/images/bg_mask_01-white.png) no-repeat;      
        background-size: 100% 100%;
      }
    }
  }

  .card-img{
    position: relative;
    width: 45%;
    height: 400px;
    overflow: hidden;

    .blog &{
      height: 620px;
    }

    &.mask_01::after{
      background: url(/assets/images/bg_mask_01.png) no-repeat;
    }
    &.mask_02::after{
      background: url(/assets/images/bg_mask_02.png) no-repeat;
    }

    &.mask_01::after,
    &.mask_02::after,
    &.mask_03::after,
    &.mask_04::after,
    &.mask_05::after{
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 100px;
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .card-body{
    display: flex;
    align-items: center;
    width: 55%;
    padding: 5px 25px;

    & .wrap-quotes{
      height: fit-content;
      .desc-card{
        color: #ffffff;
        text-shadow: 1px 3px 3px rgba($color: #000000, $alpha: 0.3);
        & + p{
          color: #eafd04;
          text-shadow: 1px 3px 3px rgba($color: #000000, $alpha: 0.3);
        }
      }
    }
  }

  p .small{
    margin-left: 20px;
  }
}

.card-click{
  cursor: pointer;

  &:hover .title-card{
	  color: #ba212a;
  }

  &:hover img{
	  transform: scale(1.1);
  }

  & img{
    transform: scale(1);
    transition: .3s;
  }
}

.slick-arrow{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient(0deg, #741422, #e08890);
  opacity: .3;
  transition: .3s;
  color: transparent;

  &:hover{
    opacity: 1;
  }

  &::after{
    @include pseudo-el($left:50%);
    width: 25px;
    height: 25px;
    background: url(/assets/images/ico_arrow.svg) no-repeat;
    background-size: 100%;
    fill: #ffffff;
  }

  &.slick-prev{
    left: calc(50% - 30%);
    transform: translate(-100%, -50%);
    &::after{
      transform: translate(-50%, -50%) rotate(270deg);
    }
    .blog &{
      left: -20px;
    }
  }
  &.slick-next{
    right: calc(50% - 30%);
    transform: translate(100%, -50%);
    &::after{
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .blog &{
      right: -20px;
    }
  }
}

.slick-disabled{
  opacity: 0 !important;
  cursor: default;
}

.slick-dotted{
  margin-bottom: 60px;
}

.slick-dots{
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  transform: translate(-50%, calc(100% + 30px));

  & li{
    display: flex;
    align-items: center;
    padding: 5px;

    & button{
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-color: #6a0c1a;
      opacity: .3;
      transition: .3s;
      color: transparent;
    }

    &.slick-active button{
      width: 22px;
      height: 22px;
      opacity: 1;
    }
  }
}

.card-img{
  width: 100%;
  height: 260px;
}

.card-body{
  padding: 30px 20px;
}

.label-category{
  padding: 7px 10px;
  color: #ba212a;
  font-size: .9em;
  font-weight: bold;
  border: 1px solid #ba212a;
  border-radius: 5px;

  &+.label-date{
    margin-left: 20px;
  }
}

.label-date{
  display: flex;
  align-items: center;
  font-size: 1em;
}

.title-card{
  margin-bottom: 0;
  transition: color .2s;
}

.card-link{
  font-size: 1.125em;
  display: inline-block;
  color: #ba212a;
  font-weight: bold;
  &.link-button{
    display: block;
    & img{
      width: 40px;
      height: 40px;
      margin: auto;
      opacity: .2;
    }
  }
}

.video-thumbnail{
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  .play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    background: url(/assets/images/ico_play-button.png) no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .2s;

    &:hover{
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  &>p{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 1.25em;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::before{
    @include pseudo-el($top:0, $left:0);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.9),rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  }
}

.addibg-oval{
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 185px;

  &.oval-main::after{
    background: url(/assets/images/bg_oval_01.png) no-repeat;
    background-size: 100%;
  }

  &.oval-pink::after{
    background: url(/assets/images/bg_oval_02.png) no-repeat;
    background-size: 100%;
  }

  &.oval-cream::after{
    background: url(/assets/images/bg_oval_03.png) no-repeat;
    background-size: 100%;
  }

  &.oval-grey::after{
    background: url(/assets/images/bg_oval_04.png) no-repeat;
    background-size: 100%;
  }

  &::after{
    @include pseudo-el($top:initial, $left:0, $bottom:2.3vw);
    width: 100%;
    height: 100%;
    max-height: 200px;
    transform: translateY(100%);
  }
}

.heading-bg-main{
  padding: 30px 40px;
  background: url(/assets/images/bg-redmain.jpg) no-repeat;
  background-size: cover;
  border-radius: 30px;

  & h1, & h2, & h3{
    margin-bottom: 0;
    color: #eafd04;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  }

  & a, & .gen-link{
    color: #ffffff;
  }
}

.client-logo-wrap{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  flex-basis: fit-content;
  min-width: 1920px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 95px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  &:nth-child(2),&:nth-last-child(2){
    animation: marqueeTwo 60s linear infinite;
  }
  &:nth-last-child(3){
    animation: marqueeSup 60s linear infinite;
  }
}

@keyframes marqueeSup {
  0% { transform: translateX(100%); }
  50% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

@keyframes marqueeTwo {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }
}

.img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  & > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &.hidden-over{
    overflow: hidden;
  }
  &.img-ico{
    display: block;
    width: 100px;
    margin: auto;
    & > img{
      object-fit: contain;
    }
  }
  &.client-logo{
    padding: 0 20px;
    height: 95px;
    & > img{
      object-fit: contain;
      filter: grayscale(100%);
      opacity: .4;
      transition: all .5s;
    }
  }
  &.client-logo:hover img{
    filter: grayscale(0%);
    opacity: .8;
  }
}

.btn-wrap{
  width: 100%;
  margin-top: 35px;

  &.root-link a::after{
    background: url(/assets/images/ico_full-arrow.svg) no-repeat;
  }

  &.download a::after{
    background: url(/assets/images/ico_download.svg) no-repeat;
  }

  &.icon a{
    text-align: left;
    position: relative;
    padding-right: 60px;

    &::after{
      @include pseudo-el($top:50%, $left:initial, $right:25px);
      width: 25px;
      height: 25px;
      transform: translateY(-50%);
    }
  }

  & a, & button{
    display: inline-block;
    min-width: 200px;
    padding: 20px 30px;
    text-align: center;
    background: linear-gradient(105deg, #3a2e2f, #741422, #df878f);
    background-size: 200% 200%;
    background-position:100% 50%;
    color: #ffffff;
    font-size: 1.125em;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
      animation: fillBtnHov 5s ease infinite;
    }
  }

  &.btn-trans{
    & a, & button{
      background: none;
      color: #ba212a;
      border: 2px solid #ba212a;
  
      &:hover{
        animation: none;
        background: rgba($color: #ba212a, $alpha: 0.1);
      }
    }
  }

  &.btn-single-focus a{
    font-size: 1.25em;
    font-weight: bolder;
    letter-spacing: 1px;
  }
}

@keyframes fillBtnHov {
  0%{background-position:100% 50%}
  50%{background-position:0% 50%}
  100%{background-position:100% 50%}
}

.left-direction{
  border-top-left-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.right-direction{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bigger-title{
  font-size: 3em;
  font-weight: bolder;
}

.label-darkgrey{
  @include inline-flex($jc:space-around);

  & > span{
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #443a35;
  }
}

.table-wrap{
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0,0,0,.06);
  &.no-tfooter{
    padding-bottom: 30px;
  }
}

.general-table{
  width: 100%;
  border-collapse: collapse;

  & thead tr,& tbody tr:last-child{
    border-bottom: 1px solid #efeeee;
  }

  & tbody tr:nth-child(even),& tbody tr.bg-grey{
    background-color: #f6f6f6;
  }

  & tbody tr.bg-white{
    background-color: #ffffff;
  }

  & th, & td{
    padding: 20px 10px;
  }

  & .small{
    display: block;
    font-size: 65%;
  }

  & .cell-align-left{
    text-align: left;
  }
}

.normal-weight{
  font-weight: normal;
}

.title-lv1, .text-lv1{
  font-size: 2em;
}

.title-lv2, .text-lv2{
  font-size: 1.75em;
}

.title-lv3, .text-lv3{
  font-size: 1.5em;
}

.title-lv4, .text-lv4{
  font-size: 1.20em;
}

.italic{
  font-style: italic;
  color: #4b4541;
}

.mg-0{
  margin: 0;
}

.mg-t-0{
  margin-top: 0 !important;
}

.mg-t1{
  margin-top: 1em;
}

.mg-t1-5{
  margin-top: 1.5em;
}

.mg-t2{
  margin-top: 2em;
}

.mg-t3{
  margin-top: 3em;
}

.mg-t4{
  margin-top: 4em;
}

.mg-t5{
  margin-top: 5em;
}

.mg-t8{
  margin-top: 8em;
}

.mg-b-0{
  margin-bottom: 0 !important;
}

.mg-b1{
  margin-bottom: 1em;
}

.mg-b1-5{
  margin-bottom: 1.5em;
}

.mg-b2{
  margin-bottom: 2em;
}

.mg-b3{
  margin-bottom: 3em;
}

.mg-b4{
  margin-bottom: 4em;
}

.mg-b5{
  margin-bottom: 5em;
}

.mg-b8{
  margin-bottom: 8em;
}

.pd-0{
	padding: 0;
}

@media only screen and (max-width: 1600px) {
  .slick-arrow{
    .review &.slick-prev{
      left: calc(50% - 40%);
    }
    .review &.slick-next{
      right: calc(50% - 40%);
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    box-sizing: border-box;
  }

  .header{
    width: calc(100% - 40px);
    padding: 0 10px 0 20px;
  
    & .logo{
      padding: 15px 0;
      & img{
        width: 190px;
        height: 49px;
      }
    }
  
    & .gnav{
      & li a{
        font-size: .9em;
        padding: 0 12.5px;
      }
    }
  }

  .footer{
    &::before{
      width: 70%;
    }
  
    &::after{
      width: 30%;
    }
  
    .ctn-footer{
      &:last-child{
        width: calc(100% - 320px);
      }
  
      .footer-menu{
        justify-content: flex-end;
        margin-bottom: 3.5em;
        & a{
          font-size: 1em;
          font-weight: bold;
          color: #443a35;
          transition: 0.3s;
          &:hover{
            color: #741422;
          }
          &+a{
            margin-left: 30px;
          }
        }
      }
    }
  }

  .gallery{
    &.photos-01{
      & .content-image{
        height: 55vw;
      }
      &.f-lift{
        & .content-image{
          height: 35vw;
        }
      }
    }
    &.photos-02{
      & .album{
        & .album-wrap-01{
          & .imgal-01{
            height: 25vw;
          }
          & .imgal-02{
            height: 25vw;
          }
        }
        & .album-wrap-02{
          & > *{
            height: 25vw;
          }
        }
      }
    }
    &.photos-03{
      & > *{
        height: 30vw;
      }
    }
    &.photos-04{
      & .imgal-01{
        height: 30vw;
      }
      & .imgal-02{
        height: 30vw;
      }
    }
    &.photos-05{
      & > *{
        height: 30vw;
      }
    }
  }

  .main-visual{
    padding-top: 80px;

    & .mv-ctn-group{
      & img{
        width: 60px;
        height: 60px;
      }
    }

    & h1{
      & .title{
        font-size: 1.3em;
        line-height: 1.3;
      }
      & .subtitle{
        font-size: 0.6em;
      }
    }
  }

  .btn-wrap{
    &.icon a{  
      &::after{
        width: 20px;
        height: 20px;
      }
    }
    &.btn-single-focus a{
      font-size: 1.15em;
    }
  }

  .ctn-style-01{
    .content-image{
      height: 430px;
    }
  }

  .ctn-threecoll-01{
    * + &{
      margin-top: 40px;
    }
  }

  .video-thumbnail{  
    .play-button{
      width: 100px;
      height: 100px;
    }
  
    &>p{
      font-size: 1em;
    }
  }

  .ctn-twocoll-01{
    h2+ &{
      margin-top: 50px;
    }
  }

  .slick-arrow{
    .review &.slick-prev{
      left: 70px;
    }
    .review &.slick-next{
      right: 70px;
    }
  }

  .label-category {
    font-weight: 500;
  }

  .label-date{
    font-size: .9em;
  }

  .bigger-title {
    font-size: 2.5em;
  }
  .title-lv1, .text-lv1{
    font-size: 1.75em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.5em;
  }
  .title-lv3, .text-lv3{
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1em;
  }
}

@media only screen and (max-width: 950px) {
  .header{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    & .logo{
      & img{
        width: 150px;
        height: 39px;
      }
    }
  
    & .gnav{
      & li a{
        font-weight: 400;
        font-size: .85em;
      }
    }
    & .gnav{
      & li a{
        font-weight: 400;
        font-size: .85em;
  
        &::before{
          border-radius: 15px;
        }
      }
      & .dropdown {
        & > .dropdown-content{
          padding: 10px 0;
          border-radius: 15px;
        }
      }
      & .dropdown > a{
        padding-right: 25px;
        &::after{
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .footer{
    .ctn-footer{
      padding: 50px 0;

      .footer-menu{
        margin-bottom: 2.5em;
        & a{
          font-size: .9em;
          font-weight: 500;
          &+a{
            margin-left: 30px;
          }
        }
      }

      .form-news-letter{
        padding-left: calc(100% - 380px);
        & input[type="email"]{
          width: calc(100% - 75);
          font-size: .9em;
        }
        & button[type="submit"]{
          width: 75px;
        }
      }
    }

    .social-media{
      margin: 2em 0;
      & a{
        &+a{
          margin-left: 2.2em;
        }
        & img{
          width: 30px;
          height: 30px
        }
      }
    }

    .copy{
      font-size: .8em;
    }

    & .logo img{
      width: 180px;
      height: 46px;
    }

    .footer-address{
      max-width: 280px;
      margin: 2em 0;
    }

    .footer-contact{
      width: 280px;
      height: 144px;

      .contact-link a{
        line-height: 144px;
      }
      .contact-icon img{
        width: 35px;
        height: 35px;
      }
    }
  }

  .gallery{
    &.videos-01{
      & > *{
        width: calc(50% - 10px);
      }
      & > *:nth-child(n+3){
        margin-top: 20px;
      }
    }
  }
  
  .ctn-style-01{
    .content-text{
      width: 42%;
    }
  }
  .card-img{
    width: 100%;
    height: 180px;
  }
  .btn-wrap{
    margin-top: 25px;
  
    &.icon a{
      padding-right: 40px;
    }
  
    & a{
      min-width: 170px;
      font-size: 1em;
      border-radius: 15px;
    }
  
    &.btn-single-focus a{
      font-size: 1.125em;
    }
  }
  .card-review{
    max-width: 750px;
    .card-img{
      height: 360px;
    }
    .card-body{
      padding: 0 30px;
    }
  }
  .slick-dots{
    & li{
      & button{
        width: 12px;
        height: 12px;
      }  
      &.slick-active button{
        width: 18px;
        height: 18px;
      }
    }
  }    
  .br-custom{
    & br{
      display: none;
    }
  }
  h1 {
    font-size: 1.5em;
  }
  .bigger-title {
    font-size: 2em;
  }
  .title-lv1, .text-lv1{
    font-size: 1.5em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.25em;
  }
  .title-lv3, .text-lv3{
    font-size: 1.125em;
  }
  .title-lv4, .text-lv4{
    font-size: 1em;
  }
}


@media only screen and (max-width: 850px) {
  .onlyPc{
    display: none !important;
  }
  .onlySp{
    display: block !important;
  }

  .sp-center{
    text-align: center;
  }
  
  .btn-wrap{
    text-align: center;

    & a{
      min-width: 250px;
      font-size: 1.125em;      
    }
  }

  .icon.general-list{  
    &>li{
      padding-left: 50px;
    }
  }

  .contact-layout{
    & .two-col+.two-col{
      margin-top: 40px;
    }
  }

  .two-col, .three-col, .four-col{
    width: 100%
  }

  .section-headtext{
    & .form-group{
      &:nth-child(n+2){
        margin-top: 0;
      }
      & label{
        display: none;
      }
    }
  }

  .form-group{
    padding: 0;
    &:nth-child(n+2){
      margin-top: 25px;
    }
  }

  .full-content{
    & .two-col+.two-col h3{
      margin-top: 2em;
    }
  }

  // .marquee {
  //   position: relative;
  //   width: 100vw;
  //   max-width: 100%;
  //   height: 95px;
  //   overflow-x: hidden;
  // }
  
  // .track {
  //   position: absolute;
  //   white-space: nowrap;
  //   will-change: transform;
  //   animation: marquee 30s linear infinite;
  //   &:last-child{
  //     animation: marqueeLast 30s linear infinite;
  //   }
  // }

  .table-wrap{
    padding-bottom: 20px;
    & .scroll-x{
      overflow-x: scroll;
    }
    & .general-table{
      min-width: 900px;
    }
    & .general-table.less-column{
      min-width: 600px;
    }
  }

  .gallery{
    &.photos-02{
      & > *+*{
        margin-top: 20px;
      }
      & .single{
        width: 100%;
        height: 80vw;
      }
      & .album{
        width: 100%;
        & .album-wrap-01{
          & .imgal-01{
            height: 30vw;
          }
          & .imgal-02{
            height: 30vw;
          }
        }
        & .album-wrap-02{
          & > *{
            height: 30vw;
          }
        }
      }
    }
    &.photos-03{
      & > *{
        width: calc(50% - 10px);
      }
    }
    &.photos-04{
      & .imgal-01{
        width: calc(65% - 10px);
      }
      & .imgal-02{
        width: calc(35% - 10px);
      }
    }
    &.photos-05{
      & > *:nth-child(n+2){
        margin-top: 20px;
        width: calc(50% - 10px);
      }
      & > *:first-child{
        width: 100%;
        height: 80vw;
      }
    }
    &.videos-01{
      & > *{
        width: 100%;
      }
      & > *:nth-child(n+3){
        margin-top: 30px;
      }
    }
  }

  .general-table{  
    & td{
      padding: 10px;
    }
  }

  .general-list{
    &> li{
      padding-left: 25px;
    }
    & > li::before{
      left: 5px;
    }
  }

  .addibg-oval{
    padding-bottom: 80px;
    margin-bottom: 100px;
    &::after{
      bottom: 17px;
    }
  }

  .row-reverse-sp{
    flex-direction: row-reverse;
    & > .content-image{
      margin-bottom: 40px;
    }
  }

  .column-reverse-sp{
    flex-direction: column-reverse;
    & > .content-image{
      margin-bottom: 40px;
    }
  }

  .container {
    max-width: 650px;
  }

  .paginationjs{
    & .paginationjs-pages{
      & ul{
        & li{
          margin: 0 3px;
          & a{
            padding: 0 10px;
            width: 2.2em;
            font-size: 1em;
            line-height: 2.2em;
            border-radius: 7px;
          }
        }
        & li.paginationjs-prev,
        & li.paginationjs-next{
          margin-left: 5px;
          margin-right: 0;
          & a{
            &::after{
              width: 15px;
              height: 15px;
            }
          }
        }
        & li.paginationjs-prev{
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  .header{
    left: 0;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none;
  
    & .logo{
      padding: 20px 30px;
      & img{
        width: 190px;
        height: 49px;
      }
    }

    & .burger-menu{
      position: relative;
      width: 50px;
      margin: 0 20px;
      padding: 20px;
      display: block;
      cursor: pointer;
      & span{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        height: 4px;
        border-radius: 5px;
        opacity: 1;
        transition: .3s;
        background-color: #ffffff;
        transform: translate(-50%, -50%);
      }
      & span:nth-child(1){
        top: 35%;
      }
      & span:nth-child(3){
        left: inherit;
        right: 6px;
        top: 65%;
        width: 50%;
        transform: translate(0%, -50%);
      }
      &.on{
        & span:nth-child(1){
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        & span:nth-child(2){
          opacity: 0;
          width: 0%;
        }
        & span:nth-child(3){
          top: 50%;
          width: 75%;
          right: 50%;
          transform: translate(50%, -50%) rotate(-45deg);
        }
      }
    }

    &.sticky{
      top: -89px;
      & .burger-menu{
        & span{
          background-color: #443a35;
        }
      }
  
      & .gnav{
        & li+li{
          border-top: 1px solid #f0f0f0;
        }
        & li a{
          text-shadow: none;
    
          &::before{
            background: rgba($color: #bb212a, $alpha: 0.1);
          }
        }
        & .dropdown {
          & > .dropdown-content{
            background-color: #f8f8f8;
            box-shadow: none;
            & a{
              &:hover{
                background: rgba($color: #bb212a, $alpha: 0.1);
              }
            }
            & > li + li{
              border-top: 1px solid #f0f0f0;
            }
          }
        }
        & .dropdown > a{
          &::after{
            fill: #443a35;
            filter: brightness(0.35);
          }
        }
      }
    }
  
    & .gnav{
      display: none;
      width: 100%;
      height: calc(100vh - 89px);
      margin: 0;
      padding: 0 0 30px;
      overflow-x: scroll;
      & li+li{
        border-top: 1px solid rgba(240, 240, 240, 0.2);
      }
      & li a{
        font-size: 1.125em;
        padding: 15px 30px;
  
        &::before{
          height: 100%;
          border-radius: 0;
        }
      }
      & .dropdown {
        padding-right: 60px;
        position: relative;
        & > .dropdown-content{
          position: relative;
          top: inherit;
          display: block;
          width: 100%;
          max-height: 0px;
          max-width: inherit;
          padding: 0;
          border-radius: 0;
          z-index: 1;
          transition: max-height .8s;
          overflow: hidden;
          & a{
            padding: 15px 30px;    
            line-height: 2.25;
            text-align: left;
          }
          &::before{
            content: none;          
          }
        }
        &:hover > .dropdown-content{
          max-height: 500px;
        }
      }
      & .dropdown > a{
        &::after{
          right: -40px;
          width: 18px;
          height: 18px;
          z-index: -9;
        }
      }
    }
  }
  
  .footer{
    position: relative;
    
    &::before,&::after{
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
    }
  
    &::before{
      left: 0;
      background: url(/assets/images/bg-redmain.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    &::after{
      right: 0;
      background-color:  #f4e9ea;
    }
  
    .container{
      background: url(/assets/images/bg_footer.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .ctn-footer{
      padding: 60px 0;
      &:first-child{
        color: #ffffff;
      }
  
      &>*{
        align-items: center;
      }
  
      .footer-menu{
        justify-content: flex-end;
        margin-bottom: 3.5em;
        & a{
          font-size: 1em;
          font-weight: bold;
          color: #443a35;
          transition: 0.3s;
          &:hover{
            color: #741422;
          }
          &+a{
            margin-left: 50px;
          }
        }
      }
  
      .footer-news-letter{
        text-align: right;
        & > p{      
          font-size: .9em;
          padding-left: calc(100% - 400px);
        }
      }
  
      .form-news-letter{
        display: flex;
        margin-top: 1.5em;
        padding-left: calc(100% - 445px);
        & input[type="email"]{
          display: inline-block;
          width: 83%;
          padding: 15px 20px;
          font-size: 1em;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border: 1px solid #443a35;
          background: rgba($color: #443a35, $alpha: 0.1);
          &::placeholder {
            color: #443a35;
          }
        }
        & button[type="submit"]{
          display: inline-block;
          width: 17%;
          background: url(/assets/images/ico_send.svg) center no-repeat, linear-gradient(-45deg, #741422 25%, #df878f);
          background-size: 50%, auto;
          border: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          cursor: pointer;
        }
      }
    }
  
    .social-media{
      display: flex;
      margin: 3em 0;
      justify-content: flex-end;
      & a{
        display: inline-block;
        &+a{
          margin-left: 3em;
        }
        & img *{
          fill: #443a35 !important;
        }
        @include op-hover();
      }
    }
  
    .copy{
      margin: 0;
      text-align: right;
      font-size: 1em;
    }
  
    .footer-address{
      max-width: 320px;
      margin: 2.5em 0;
    }
  
    .footer-contact{
      position: relative;
      width: 320px;
      height: 165px;
      background: url(/assets/images/img_footer_contact.png) no-repeat;
      background-size: 100% 100%;
  
      .contact-icon *{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-60%, 15%);
        z-index: 1;
      }
    }
  }

  .main-visual{
    &:not(.half-mv){
      background-position: center right 20%;
    }
    & .mv-ctn-group{
      &.half{
        width: 100%;
      }
      & img{
        width: 80px;
        height: 80px;
        margin: auto;
      }
    }
  
    & h1{
      & .title{
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
      }
      & .subtitle{
        text-align: center;
        font-size: .9em;
      }
    }

    &:not(.half-mv) + .section{
      margin-top: 0;
    }
  }

  .divider {
    height: 15vw;
  }

  .section:not(.bg-red-main, .addibg-oval, .pd-0){ 
    padding: 70px 0;
    &.maps{
      padding: 0;
      &::after{
        height: 10vw;
      }
    }
  }

  .ctn-style-01{
    .content-image{
      width: 100%;
      height: 400px;
    }
    .content-text{
      width: 100%;
    }

    &:not(.column-reverse-sp,.row-reverse-sp) .content-text{
      margin-bottom: 40px;
    }
  }

  .ctn-twocoll-01{
    & > *{
      width: 100%;
      max-width: 550px;
    }
  
    h2+ &{
      margin-top: 50px;
    }
  }

  .ctn-threecoll-01{
    & > *{
      width: 100%;
      &.card-style-01{
        max-width: 440px;
        margin-left: auto !important;
        margin-right: auto !important;
      }
      &:not(.slick-list)+.card-style-01{
        margin-top: 40px;
      }
    }
    & > .slick-list{
      width: 100%;
      max-width: 500px;
      margin: auto;
      & .card-style-01{
        margin: 0 30px;
      }
    }
  }

  .card-style-01{
    &.tab-button{
      width: calc(95% / 2);
      order: 1;
      
      &>p{
        display: none;
      }

      &+.tab-button{
      margin-top: 0px;
      }

      &.active{
        width: 100%;
        margin-top: 40px;
        order: 3;
        &>p{
          display: block;
        }

        &::after{
          bottom: -71px;
        }
      }
    }
  }

  .video-thumbnail{
    &>p{
      font-size: 1.125em;
    }
    &+.video-thumbnail{
      margin-top: 30px;
    }
  }

  .card-img {
    height: 230px;
  }

  .card-body{
    .title-lv2 {
      text-align: left;
    }
  }

  .slick-arrow{
  
    &.slick-prev{
      left: 70px;
    }
    &.slick-next{
      right: 70px;
    }
  }

  .content-text .br-custom br:nth-child(2) {
    display: block;
  }

  .bigger-title {
    font-size: 2em;
  }
  .title-lv1, .title-lv2, .title-lv3{
    text-align: center;
  }
  .title-lv1, .text-lv1{
    font-size: 2em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.75em;
  }
  .title-lv3, .text-lv3{
    font-size: 1.5em;
  }
  .title-lv4{
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1.125em;
  }
  .card-review{
    max-width: 440px;
    opacity: 1;

    .blog &{
      max-width: 440px;
      .card-body{
        width: 100%;
        padding: 30px 20px;
      }
      .card-img{
        width: 100%;
      }
    }
  
    .card-img{
      width: 100%;
      height: 420px;

      .blog &{
        height: 420px;
      }
  
      &.mask_01::after,
      &.mask_02::after,
      &.mask_03::after,
      &.mask_04::after,
      &.mask_05::after{
        top: inherit;
        bottom: -190px;
        right: 0;
        width: 80px;
        height: 106%;
        transform: rotate(90deg) translate(0%, 40%);
      }
    }
    .card-body{
      width: 100%;
      padding: 50px 30px 30px;
    }
  
    p .small{
      margin-bottom: 0;
    }
  } 
  .quote{
    padding: 0;
    text-align: center;
    &::before {
      top: -15px;
      left: 50%;
      transform: translate(-110%, -100%);
    }
    &::after{
      display: none;
    }
    &+p{
      text-align: center;
      padding: 0;
      margin-bottom: 0;   
      & b{
        display: block;
      }
      & span{
        display: block;
      }
      & .small{
        margin-left: 0;
      }
    }
  }

  .footer{
    margin-top: 60px;
    background-color: #f4e9ea;
    &::before,&::after{
      width: 100%;
      height: 50%;
      z-index: 0;
    }

    &::before{
      height: 45%;
    }
  
    &::after{
      top: calc(36% - 5px);
      width: 100%;
      height: 100px;
      background: url(/assets/images/bg_oval_01.png) no-repeat;
      background-size: 100%;
      transform: translateY(100%);
    }
  
    .container{
      max-width: 650px;
      background: none
    }
  
    .ctn-footer{
      width: 100%;
      padding: 60px 0;

      &:last-child{
        margin-top: 100px;
        width: 100%;
      }
  
      .footer-menu{
        max-width: 380px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto 3.5em;
        & a{
          width: 50%;
          font-size: 1em;
          font-weight: bold;
          color: #443a35;
          transition: 0.3s;
          &:hover{
            color: #741422;
          }
          &+a{
            margin-left: 0;
          }
          &:nth-child(n+3){
            margin-top: 20px;
          }
        }
      }
  
      .footer-news-letter{
        text-align: center;
        & > p{      
          max-width: 380px;
          padding-left: 0;
          margin: auto;
          font-size: 1em;
        }
      }
  
      .form-news-letter{
        display: flex;
        max-width: 380px;
        margin: 1.5em auto 0;
        padding-left: 0;
      }
    }
  
    .social-media{
      justify-content: center;
    }
  
    .copy{
      text-align: center;
      font-size: .9em;
    }

    .logo{
      display: block;
      width: 240px;
      margin: auto;
      & img{
        width: 100%;
        height: auto;
      }
    }
  
    .footer-address{
      max-width: 380px;
      text-align: center;
      margin: 2.5em auto;
    }
  
    .footer-contact{
      margin: auto;
    }
  }
}


@media only screen and (max-width: 650px) {
  .heading-bg-main{
    padding: 20px 30px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .addibg-oval{
    &::after{
      bottom: 10px;
      height: 50px;
      max-height: inherit;
    }
  }
  .row-reverse-sp{
    & > .content-image{
      margin-bottom: 25px;
    }
  }

  .column-reverse-sp{
    & > .content-image{
      margin-bottom: 25px;
    }
  }
  .heading-bg-main{
    padding: 20px 15px;
    border-radius: 15px;
  }
  .modal-fullscreen{
    & .video-player, & .image-viewer{
      width: calc(100% - 30px);
    }
  }
  .accordion{
    border-radius: 10px;
  
    & .accord-button, & .accord-content{
      padding: 0 45px 0 60px;
  
      &::before{
        left: 30px;
        font-size: 2.5em;
      }
  
      & span{
        right: 0px;
      }
    }
  
    & .accord-content{
      border-radius: 10px;
      padding-right: 15px;
    }
  }
  .card-style-01{
    border-radius: 10px;

    &.tab-button{
      & .img-wrap{
        border-radius: 10px;
      }
    }
  }
  .gallery{
    &+.gallery{
      margin-top: 10px;
    }
    & .img-wrap{
      border-radius: 8px;
    }
    &.photos-02{
      & .album{
        & .album-wrap-01{
          & .imgal-01{
            width: calc(65% - 5px);
          }
          & .imgal-02{
            width: calc(35% - 5px);
          }
        }
        & .album-wrap-02{
          & > *{
            width: calc(50% - 5px);
          }
        }
        & > *+*{
          margin-top: 10px;
        }
      }
      & > *+*{
        margin-top: 10px;
      }
    }
    &.photos-03{
      & > *{
        width: calc(50% - 5px);
      }
    }
    &.photos-04{
      & .imgal-01{
        width: calc(65% - 5px);
      }
      & .imgal-02{
        width: calc(35% - 5px);
      }
    }
    &.photos-05{
      & > *:nth-child(n+2){
        margin-top: 10px;
        width: calc(50% - 5px);
      }
    }
    &.videos-01{
      padding: 0;
    }
  }
  .container {
    padding: 0 15px;
  }
  .header{
    left: 0;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none;
  
    & .logo{
      padding: 10px 15px;
      & img{
        width: 150px;
        height: auto;
      }
    }

    & .burger-menu{
      width: 44px;
      margin: 0 15px 0 20px;
    }
  
    & .gnav{    
      height: calc(100vh - 50px);
      & li a{
        font-size: 1em;
        padding: 15px 15px;
      }
    }
  }

  .main-visual{
    padding-top: 40px;
    & h1{
      & .title{
        font-size: 1.125em;
      }
      & .subtitle{
        font-size: .8em;
      }
    }
  }

  .breadcrumbs{
    @include inline-flex($jc:flex-start, $ai:initial);
    margin: 0;
    z-index: 0;
    & a:hover{
      background-color: #ececec;
    }
    
    & a, & span{
      padding: 0 25px;
      line-height: 40px;
      font-size: .9em;
    }
  }

  .ctn-style-01{
    .content-image{
      height: 75vw;
    }
    &:not(.column-reverse-sp,.row-reverse-sp) .content-text{
      margin-bottom: 25px;
    }
  }

  .left-direction {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .right-direction{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .ctn-threecoll-01{
    & > .slick-list{
      & .card-style-01{
        margin: 0 1px;
      }
    }
  }

  .btn-wrap{
    & a{
      border-radius: 10px;      
    }
  }
  .video-thumbnail{
    border-radius: 10px;
    & .play-button {
      width: 75px;
      height: 75px;
    }
  }
  .card-review{
    border-radius: 10px;
    width: calc(100% - 30px);
    .blog &{
      width: 100%;
    }
    .card-body {
      padding: 50px 18px 30px;
    }
    .card-img{
      height: 280px;
  
      &.mask_01::after,
      &.mask_02::after,
      &.mask_03::after,
      &.mask_04::after,
      &.mask_05::after{
        bottom: -42vw;
        width: 13vw;
        height: 96vw;
      }
    }
  } 

  .footer{
    &::after{
      top: calc(38% - 10px);
      height: 80px;
    }
    .copy{
      font-size: .8em;
    }
    .logo{
      width: 200px;
    }
    .footer-contact{
      width: 270px;
      height: 145px;

      .contact-link a{
        padding: 0 10px;
        font-size: .9em;
        line-height: 145px;
      }
      .title-lv4 {
        font-size: 1.2em;
      }
    }
  }
  .bigger-title {
    font-size: 1.35em;
  }
  .title-lv1, .text-lv1{
    font-size: 1.35em;
  }
  .title-lv2, .title-lv3, .title-lv4,
  .text-lv2, .text-lv3, .text-lv4 {
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1em;
  }
}


@media only screen and (max-width: 375px) {
  .icon{
    padding: 0 10px;
    & li{
      margin: 20px 0px;
    }
  }
  .footer{
    &::after{
      top: calc(41% - 20px);
      height: 60px;
    }
  }
}