@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/Rubik-Light.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Rubik-Regular.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Rubik-Italic.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Rubik-SemiBold.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Rubik-SemiBoldItalic.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/assets/fonts/Rubik-Bold.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(/assets/fonts/Rubik-BoldItalic.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.copy::before {
  content: '';
  width: 0;
  height: 0;
  background: url(/assets/images/bg_mask_01.png), url(/assets/images/bg_mask_02.png), url(/assets/images/bg_mask_01-white.png);
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  color: #443a35;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

body::-webkit-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body.shadow::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
}

.wa-us {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 140px;
  cursor: pointer;
  z-index: 90;
}

.onlyPc {
  display: block !important;
}

.onlySp {
  display: none !important;
}

*:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #e7d3d5 inset !important;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h3 {
  font-weight: 700;
}

p, label, .general-list li, td {
  font-size: 1.125em;
  line-height: 1.5;
}

p .small, label .small, .general-list li .small, td .small {
  font-size: .8em;
}

input:not([type="radio"]), textarea, select {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  resize: none;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

input:not([type="radio"]):-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  box-shadow: 0 0 0 30px #ffffff inset !important;
}

input:not([type="radio"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #dbdbdb;
}

input:not([type="radio"]):focus, input:not([type="radio"]).focus, textarea:focus, textarea.focus, select:focus, select.focus {
  border: 1px solid #ba212a;
}

input[type="radio"] + label {
  margin-right: 25px;
}

input[type="radio"] + label:last-child {
  margin-right: 0;
}

input[type="radio"]:checked, input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 27px;
  display: inline-block;
  color: #666;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #443a35;
  border-radius: 100%;
  background: #fff;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 17px;
  height: 17px;
  background: #443a35;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

select {
  appearance: none;
  background: url(/assets/images/ico_arrow.png) no-repeat center right 15px;
  background-size: 13px;
}

#top-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(-60deg, #741422, #e08890);
  transition: .5s;
  transform: scale(0) rotate(260deg);
  opacity: .3;
  z-index: 90;
}

#top-button.on {
  transform: scale(1) rotate(0deg);
}

#top-button:hover {
  opacity: 1;
}

#top-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: initial;
  bottom: initial;
  width: 35px;
  height: 35px;
  background: url(/assets/images/ico_arrow-02.svg) no-repeat;
  background-size: 100%;
  transform: translate(-50%, -50%);
}

.quote {
  position: relative;
  padding: 0 20px;
}

.quote::before, .quote::after {
  position: absolute;
  content: '"';
  width: 20px;
  height: 20px;
  line-height: 50px;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}

.quote::before {
  top: -15px;
  left: -15px;
}

.quote::after {
  top: 100%;
  right: 20px;
}

.quote + p {
  margin-top: 35px;
  padding: 0 20px;
}

.container {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container + .container {
  margin-top: 90px;
}

.half-01-container {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  padding: 0 20px;
}

.form-group:nth-child(n+3) {
  margin-top: 25px;
}

.form-group > * {
  display: block;
  line-height: 1.5;
  margin-bottom: 10px;
}

.form-group input, .form-group textarea, .form-group select {
  margin-bottom: 0;
}

.text-wrap .form-group {
  padding: 0;
}

.flex, .fleres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.flex > *, .fleres > * {
  display: inline-block;
}

.flex.justify-left {
  justify-content: flex-start;
}

.bg-red-main {
  background-image: url(/assets/images/bg-redmain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-red-main .title-lv1, .bg-red-main .title-lv2, .bg-red-main .title-lv3 {
  color: #eafc03;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.bg-red-main .video-thumbnail {
  border: 2px solid #ffffff;
}

.bg-red-main.vision {
  background: url(/assets/images/bg_vision.png), url(/assets/images/bg-redmain.jpg);
}

.bg-red-main.mission {
  background: url(/assets/images/bg_mission.png), url(/assets/images/bg-redmain.jpg);
}

.bg-red-main.tradition {
  background: url(/assets/images/bg_tradition.png), url(/assets/images/bg-redmain.jpg);
}

.bg-red-main.vision, .bg-red-main.mission, .bg-red-main.tradition {
  background-size: 100% auto, 500%;
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  mix-blend-mode: hard-light;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.center {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

.flex, .fleres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.flex > *, .fleres > * {
  display: inline-block;
}

.gen-link {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: #ba212a;
  transition: opacity .2s;
}

.gen-link:hover {
  opacity: .6;
}

.general-list {
  margin: 0;
}

.general-list > li {
  position: relative;
  padding-left: 40px;
}

.bg-red-main .general-list > li {
  list-style: inherit;
  padding-left: 15px;
  font-size: 105%;
  line-height: 2;
  color: #ffffff;
}

.general-list > li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 15px;
  right: initial;
  bottom: initial;
  width: 13px;
  height: 13px;
  background: url(/assets/images/ico_arrow.svg) no-repeat;
  background-size: 100%;
  fill: #443a35;
  filter: brightness(0.35);
  transform: translateY(-50%) rotate(90deg);
}

.bg-red-main .general-list > li::before {
  content: ')';
  top: 0px;
  left: 0px;
  height: 1.25em;
  color: #ffffff;
  filter: none;
  background: none;
  transform: none;
}

ol.general-list > li {
  list-style: inherit;
  padding-left: 15px;
  font-size: 105%;
  line-height: 2;
  color: #443a35;
}

ol.general-list > li::before {
  content: ')';
  top: 0px;
  left: 0px;
  height: 1.25em;
  color: #443a35;
  filter: none;
  background: none;
  transform: none;
}

.icon {
  margin-top: 40px;
  padding: 0 30px;
}

.icon li {
  margin: 20px;
  padding-left: 65px;
}

.icon li::before {
  width: 30px;
  height: 30px;
  transform: translateY(-50%) rotate(0deg);
}

.icon li.email {
  white-space: normal;
  word-break: break-all;
}

.icon li.email::before {
  background: url(/assets/images/ico_contact_email.svg) no-repeat;
}

.icon li.phone::before {
  background: url(/assets/images/ico_contact_phone.svg) no-repeat;
}

.icon li.wa::before {
  background: url(/assets/images/ico_contact_whatsapp.svg) no-repeat;
}

.icon li.maps::before {
  background: url(/assets/images/ico_contact_maps.svg) no-repeat;
}

.full-content {
  width: 100%;
}

.two-col {
  width: 50%;
}

.three-col {
  width: 33.3%;
}

.four-col {
  width: 25%;
}

.require label > span:not(.small) {
  color: #ba212a;
}

.require label .small {
  font-size: 80%;
}

.modal-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
}

.modal-fullscreen .container {
  height: 100%;
}

.modal-fullscreen .video-player, .modal-fullscreen .image-viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 60px);
  transform: translate(-50%, -50%);
}

.modal-fullscreen .video-player .btn-close, .modal-fullscreen .image-viewer .btn-close {
  position: absolute;
  top: -20px;
  right: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 1.25em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  background: linear-gradient(105deg, #741422, #df878f);
  border-radius: 10px;
  transform: translateY(-100%);
  cursor: pointer;
}

.modal-fullscreen .video-player .btn-close:hover, .modal-fullscreen .image-viewer .btn-close:hover {
  opacity: 0.6;
}

.modal-fullscreen .image-viewer {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fullscreen .image-viewer img {
  margin: auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  right: initial;
  bottom: initial;
  width: calc(100% - 60px);
  max-width: 1400px;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.07);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  z-index: 90;
}

.header.sticky {
  position: fixed;
  top: -100px;
  background-color: #ffffff;
  backdrop-filter: blur(0px);
  transition: top .5s;
  z-index: 91;
}

.header.sticky.on {
  top: 0px;
}

.header.sticky, .header.sticky a {
  color: #443a35;
}

.header.sticky .logo img {
  filter: none;
}

.header.sticky .gnav li a {
  text-shadow: none;
}

.header.sticky .gnav li a::before {
  background: rgba(187, 33, 42, 0.1);
}

.header.sticky .gnav .dropdown > .dropdown-content {
  background-color: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}

.header.sticky .gnav .dropdown > .dropdown-content a:hover {
  background: rgba(187, 33, 42, 0.1);
}

.header.sticky .gnav .dropdown > .dropdown-content > li + li {
  border-top: 1px solid #f0f0f0;
}

.header.sticky .gnav .dropdown > a::after {
  fill: #443a35;
  filter: brightness(0.35);
}

.header, .header a {
  color: #ffffff;
  font-weight: 500;
}

.header .logo {
  padding: 20px 0;
  transition: opacity .2s;
}

.header .logo:hover {
  opacity: .6;
}

.header .logo img {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.45));
}

.header .burger-menu {
  display: none;
}

.header .gnav {
  display: flex;
  margin: 0;
}

.header .gnav li a {
  position: relative;
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}

.header .gnav li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: initial;
  bottom: initial;
  width: 100%;
  height: calc(100% - 15px);
  border-radius: 20px;
  background: rgba(187, 33, 42, 0.3);
  z-index: -1;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .3s;
}

.header .gnav li:hover a::before {
  opacity: 1;
}

.header .gnav .dropdown {
  position: relative;
}

.header .gnav .dropdown > .dropdown-content {
  content: '';
  position: absolute;
  top: -300%;
  left: 50%;
  right: initial;
  bottom: initial;
  width: 300%;
  max-width: 210px;
  padding: 20px 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}

.header .gnav .dropdown > .dropdown-content > li + li {
  border-top: 1px solid rgba(240, 240, 240, 0.2);
}

.header .gnav .dropdown > .dropdown-content a {
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 1.3;
  background: rgba(187, 33, 42, 0);
}

.header .gnav .dropdown > .dropdown-content a::before {
  content: none;
}

.header .gnav .dropdown > .dropdown-content a:hover {
  background: rgba(187, 33, 42, 0.3);
  transition: background-color .3s;
}

.header .gnav .dropdown > .dropdown-content::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  transform: translateY(-100%);
}

.header .gnav .dropdown:hover > .dropdown-content {
  top: calc(100% + 30px);
  opacity: 1;
}

.header .gnav .dropdown > a {
  padding-right: 30px;
}

.header .gnav .dropdown > a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: inherit;
  right: 8px;
  bottom: initial;
  width: 13px;
  height: 13px;
  background: url(/assets/images/ico_arrow.svg) no-repeat;
  background-size: 100%;
  fill: #ffffff;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.45));
  transform: translateY(-50%) rotate(180deg);
  transition: .3s;
}

.header .gnav .dropdown:hover > a::after {
  transform: translateY(-50%) rotate(0deg);
}

.footer {
  position: relative;
}

.footer::before, .footer::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
}

.footer::before {
  left: 0;
  background: url(/assets/images/bg-redmain.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  right: 0;
  background-color: #f4e9ea;
}

.footer .container {
  background: url(/assets/images/bg_footer.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .ctn-footer {
  padding: 60px 0;
}

.footer .ctn-footer:first-child {
  color: #ffffff;
}

.footer .ctn-footer > * {
  align-items: center;
}

.footer .ctn-footer .footer-menu {
  justify-content: flex-end;
  margin-bottom: 3.5em;
}

.footer .ctn-footer .footer-menu a {
  font-size: 1em;
  font-weight: bold;
  color: #443a35;
  transition: 0.3s;
}

.footer .ctn-footer .footer-menu a:hover {
  color: #741422;
}

.footer .ctn-footer .footer-menu a + a {
  margin-left: 50px;
}

.footer .ctn-footer .footer-news-letter {
  text-align: right;
}

.footer .ctn-footer .footer-news-letter > p {
  font-size: .9em;
  padding-left: calc(100% - 400px);
}

.footer .ctn-footer .form-news-letter {
  display: flex;
  margin-top: 1.5em;
  padding-left: calc(100% - 445px);
}

.footer .ctn-footer .form-news-letter input[type="email"] {
  display: inline-block;
  width: 83%;
  padding: 15px 20px;
  font-size: 1em;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #443a35;
  background: rgba(68, 58, 53, 0.1);
}

.footer .ctn-footer .form-news-letter input[type="email"]::placeholder {
  color: #443a35;
}

.footer .ctn-footer .form-news-letter button[type="submit"] {
  display: inline-block;
  width: 17%;
  background: url(/assets/images/ico_send.svg) center no-repeat, linear-gradient(-45deg, #741422 25%, #df878f);
  background-size: 50%, auto;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.footer .social-media {
  display: flex;
  margin: 3em 0;
  justify-content: flex-end;
}

.footer .social-media a {
  display: inline-block;
  transition: opacity .2s;
}

.footer .social-media a + a {
  margin-left: 3em;
}

.footer .social-media a img * {
  fill: #443a35 !important;
}

.footer .social-media a:hover {
  opacity: .6;
}

.footer .copy {
  margin: 0;
  text-align: right;
  font-size: 1em;
}

.footer .footer-address {
  max-width: 320px;
  margin: 2.5em 0;
}

.footer .footer-contact {
  position: relative;
  width: 320px;
  height: 165px;
  background: url(/assets/images/img_footer_contact.png) no-repeat;
  background-size: 100% 100%;
}

.footer .footer-contact .contact-link a {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  word-break: break-all;
  line-height: 165px;
  color: #ffffff;
}

.footer .footer-contact .contact-icon * {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-60%, 15%);
  z-index: -1;
}

.main-visual {
  position: relative;
  padding-top: 95px;
  height: 100vh;
  min-height: 500px;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  z-index: -1;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
  backface-visibility: hidden;
}

.main-visual.upbg-position {
  background-position: top;
}

.main-visual.half-mv {
  height: 55vh;
  min-height: 300px;
}

.main-visual.half-mv h1 .title {
  margin-bottom: 0;
}

.main-visual::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: initial;
  bottom: initial;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-visual .mv-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-visual .mv-ctn-group {
  width: 100%;
}

.main-visual .mv-ctn-group.half {
  width: 50%;
}

.main-visual h1 .title {
  display: block;
  margin: 20px 0;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

.main-visual h1 .subtitle {
  display: block;
  font-size: 0.75em;
  line-height: 1.5;
  font-weight: normal;
}

.main-visual + .section {
  margin-top: 50px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: initial;
  margin: 0;
  z-index: 0;
}

.breadcrumbs > * {
  display: inline-block;
}

.breadcrumbs a:hover {
  background-color: #ececec;
}

.breadcrumbs a, .breadcrumbs span {
  border: 1px solid #e3e2e2;
  display: block;
  padding: 0 35px;
  line-height: 45px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #443a35;
  transition: background-color .5s;
}

.breadcrumbs li:nth-child(1) {
  z-index: 6;
}

.breadcrumbs li:nth-child(2) {
  z-index: 5;
  margin-left: -30px;
}

.breadcrumbs li:nth-child(3) {
  z-index: 4;
  margin-left: -30px;
}

.breadcrumbs li:nth-child(4) {
  z-index: 3;
  margin-left: -30px;
}

.breadcrumbs li:nth-child(5) {
  z-index: 2;
  margin-left: -30px;
}

.breadcrumbs li:nth-child(6) {
  z-index: 1;
  margin-left: -30px;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li ::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #443a35 url(/assets/images/ico_arrow.svg) center no-repeat;
  background-size: 10px;
  transform: translateY(-50%) rotate(90deg);
  z-index: 7;
}

.breadcrumbs .current span {
  padding-left: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(-105deg, #741422, #df878f);
  color: #ffffff;
}

.breadcrumbs .current ::before {
  content: none;
}

.divider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6vw;
}

.divider img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.free-img {
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.free-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.section {
  padding: 100px 0;
}

.section + .footer {
  margin-top: 100px;
}

.section.maps {
  position: relative;
  padding: 0;
}

.section.maps + .footer {
  margin-top: 0px;
}

.section.maps::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 6vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

.image-popup {
  cursor: pointer;
}

.gallery + .gallery {
  margin-top: 20px;
}

.gallery.photos-01 .content-image {
  height: 700px;
}

.gallery.photos-01.f-lift .content-image {
  height: 400px;
}

.gallery.photos-02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-02 > * {
  display: inline-block;
}

.gallery.photos-02 .single {
  width: calc(35% - 10px);
}

.gallery.photos-02 .album {
  width: calc(65% - 10px);
}

.gallery.photos-02 .album .album-wrap-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-02 .album .album-wrap-01 > * {
  display: inline-block;
}

.gallery.photos-02 .album .album-wrap-01 .imgal-01 {
  width: calc(65% - 10px);
  height: 300px;
}

.gallery.photos-02 .album .album-wrap-01 .imgal-02 {
  width: calc(35% - 10px);
  height: 300px;
}

.gallery.photos-02 .album .album-wrap-02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-02 .album .album-wrap-02 > * {
  display: inline-block;
}

.gallery.photos-02 .album .album-wrap-02 > * {
  width: calc(50% - 10px);
  height: 300px;
}

.gallery.photos-02 .album > * + * {
  margin-top: 20px;
}

.gallery.photos-03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-03 > * {
  display: inline-block;
}

.gallery.photos-03 > * {
  width: calc(50% - 10px);
  height: 350px;
}

.gallery.photos-04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-04 > * {
  display: inline-block;
}

.gallery.photos-04 .imgal-01 {
  width: calc(65% - 10px);
  height: 350px;
}

.gallery.photos-04 .imgal-02 {
  width: calc(35% - 10px);
  height: 350px;
}

.gallery.photos-05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
}

.gallery.photos-05 > * {
  display: inline-block;
}

.gallery.photos-05 > * {
  width: calc(calc(100% - 40px) / 3);
  height: 350px;
}

.gallery .img-wrap {
  border-radius: 20px;
  overflow: hidden;
}

.gallery .img-wrap:hover img {
  transform: scale(1.1);
}

.gallery .img-wrap img {
  transform: scale(1);
  transition: .3s;
}

.gallery.videos-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: initial;
  padding: 0 30px;
}

.gallery.videos-01 > * {
  display: inline-block;
}

.gallery.videos-01 > * {
  width: calc(50% - 20px);
}

.gallery.videos-01 > *:nth-child(n+3) {
  margin-top: 40px;
}

.section-headtext {
  align-items: center;
}

.section-headtext .form-group {
  width: fit-content;
  color: #ffffff;
}

.section-headtext .form-group input:not([type="radio"]), .section-headtext .form-group select {
  width: fit-content;
  padding: 5px 25px 5px 10px;
  color: #ffffff;
  border-radius: 5px;
}

.section-headtext .form-group input:not([type="radio"]) option, .section-headtext .form-group select option {
  color: #443a35;
}

.section-headtext .form-group input:not([type="radio"]):focus, .section-headtext .form-group select:focus {
  border: 1px solid #ffffff;
}

.section-headtext .form-group label {
  margin-bottom: 0;
  margin-right: 10px;
}

.section-headtext .form-group select {
  font-size: .85em;
  background: url(/assets/images/ico_arrow.png) no-repeat center right 10px;
  background-size: 10px;
  filter: brightness(0) invert(1);
}

.ctn-style-01 {
  align-items: center;
}

.ctn-style-01 .content-image {
  width: 55%;
  height: 500px;
  overflow: hidden;
}

.ctn-style-01 .content-text {
  width: 40%;
}

.ctn-style-01 .auto-height-image {
  height: auto !important;
}

.accordion {
  padding: 10px;
  border: 2px solid #f5eded;
  border-radius: 20px;
}

.accordion .accord-button, .accordion .accord-content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 70px 0 85px;
  border-radius: 20px;
  min-height: 95px;
  overflow: hidden;
}

.accordion .accord-button::before, .accordion .accord-content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 3.2em;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.accordion .accord-button span, .accordion .accord-content span {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
}

.accordion .accord-button span::before, .accordion .accord-button span::after, .accordion .accord-content span::before, .accordion .accord-content span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #443a35;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all .5s;
}

.accordion .accord-button span::after, .accordion .accord-content span::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion .accord-button {
  cursor: pointer;
}

.accordion .accord-button::before {
  content: 'Q';
}

.accordion .accord-content {
  min-height: 0px;
  max-height: 0px;
  padding-right: 20px;
  background-color: #f5eded;
  transition: .5s;
}

.accordion .accord-content > * {
  opacity: 0;
  transition: .5s;
}

.accordion .accord-content a {
  font-weight: bold;
  color: #bb212a;
}

.accordion .accord-content::before {
  content: 'A';
  color: #bb212a;
  opacity: 0;
  transition: .5s;
}

.accordion.on .accord-content {
  min-height: 95px;
  max-height: 600px;
}

.accordion.on .accord-content > *, .accordion.on .accord-content::before {
  opacity: 1;
}

.accordion.on span::before, .accordion.on span::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.accordion.on span::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.accordion + .accordion {
  margin-top: 1.5em;
}

.paginationjs .paginationjs-pages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationjs .paginationjs-pages ul li {
  margin: 0 10px;
}

.paginationjs .paginationjs-pages ul li a {
  position: relative;
  display: block;
  padding: 0 15px;
  width: 2.75em;
  text-align: center;
  font-size: 1.15em;
  color: #443a35;
  line-height: 2.75em;
  border-radius: 10px;
  border: 1px solid #e3e2e2;
}

.paginationjs .paginationjs-pages ul li.active a, .paginationjs .paginationjs-pages ul li.J-paginationjs-page:hover a {
  color: #ba212a;
  border: 1px solid #ba212a;
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev,
.paginationjs .paginationjs-pages ul li.paginationjs-next {
  margin-left: 3em;
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev a,
.paginationjs .paginationjs-pages ul li.paginationjs-next a {
  color: transparent;
  border: 1px solid #ffffff;
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev a::after,
.paginationjs .paginationjs-pages ul li.paginationjs-next a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: initial;
  bottom: initial;
  width: 25px;
  height: 25px;
  background: url(/assets/images/ico_arrow.svg) no-repeat;
  background-size: 100%;
  fill: #443a35;
  filter: brightness(0.35);
  transform: translate(-50%, -50%) rotate(90deg);
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev {
  margin-left: 0;
  margin-right: 3em;
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev a::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev.disabled a::after,
.paginationjs .paginationjs-pages ul li.paginationjs-next.disabled a::after {
  opacity: .2;
}

.paginationjs .paginationjs-pages ul li.paginationjs-prev:hover a::after,
.paginationjs .paginationjs-pages ul li.paginationjs-next:hover a::after {
  filter: invert(71%) sepia(32%) saturate(1792%) hue-rotate(306deg) brightness(105%) contrast(100%);
}

.flex-sb {
  justify-content: space-between !important;
}

.ctn-twocoll-01 {
  justify-content: space-around;
}

.ctn-twocoll-01 > * {
  width: calc(98% / 2);
  max-width: 550px;
}

h2 + .ctn-twocoll-01 {
  margin-top: 80px;
}

.ctn-threecoll-01 {
  justify-content: space-between;
}

.ctn-threecoll-01 > * {
  width: calc((100% - 40px) / 3);
}

.ctn-threecoll-01 > *:nth-child(n+4) {
  margin-top: 25px;
}

* + .ctn-threecoll-01 {
  margin-top: 50px;
}

.ctn-threecoll-01.flex-start {
  justify-content: start;
}

.ctn-threecoll-01.flex-start > *:nth-child(3n-1) {
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.card-style-01 {
  border: 1px solid #e3e2e2;
  border-radius: 20px;
  overflow: hidden;
}

.card-style-01.no-border {
  border: none;
  border-radius: 0px;
}

.card-style-01.no-border:hover img {
  transform: none !important;
}

.card-style-01 .img-wrap.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.card-style-01.tab-button {
  border: 1px solid #ffffff;
  cursor: pointer;
  overflow: visible;
}

.card-style-01.tab-button .img-wrap {
  border-radius: 20px;
}

.card-style-01.tab-button:hover {
  border: 1px solid #ba212a;
}

.card-style-01.tab-button.active {
  position: relative;
}

.card-style-01.tab-button.active::after {
  content: '';
  position: absolute;
  bottom: -101px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #f6edee;
  transform: translateX(-50%);
}

.card-style-01.tab-button.active.grey::after {
  border-bottom-color: #f1f1f0;
}

.card-style-01.tab-button.active.cream::after {
  border-bottom-color: #f0e9df;
}

.card-style-01.tab-button.active.pink::after {
  border-bottom-color: #f6edee;
}

.card-style-01.bg-red-main .desc-card {
  color: #ffffff;
  line-height: 2;
  min-height: 300px;
}

.promo-slider .card-style-01 {
  margin: 0 20px;
}

.promo-slider .hidden-over {
  cursor: pointer;
  transition: opacity .2s;
}

.promo-slider .hidden-over:hover {
  opacity: .6;
}

.card-review {
  max-width: 900px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e3e2e2;
  opacity: .2;
  background: url(/assets/images/bg-redmain.jpg) no-repeat;
  background-size: cover;
}

.slick-current .card-review {
  opacity: 1;
}

.blog .card-review {
  max-width: 100%;
  background: #ffffff;
}

.blog .card-review .card-body {
  width: 50%;
  padding: 5px 35px;
  flex-wrap: wrap;
}

.blog .card-review .card-body .wrap-quotes .desc-card {
  color: #443a35;
  text-shadow: none;
}

.blog .card-review .card-body .wrap-quotes .desc-card + p {
  color: #443a35;
  text-shadow: none;
}

.blog .card-review .card-img {
  width: 50%;
}

.blog .card-review .card-img.mask_01::after {
  background: url(/assets/images/bg_mask_01-white.png) no-repeat;
  background-size: 100% 100%;
}

.card-review .card-img {
  position: relative;
  width: 45%;
  height: 400px;
  overflow: hidden;
}

.blog .card-review .card-img {
  height: 620px;
}

.card-review .card-img.mask_01::after {
  background: url(/assets/images/bg_mask_01.png) no-repeat;
}

.card-review .card-img.mask_02::after {
  background: url(/assets/images/bg_mask_02.png) no-repeat;
}

.card-review .card-img.mask_01::after, .card-review .card-img.mask_02::after, .card-review .card-img.mask_03::after, .card-review .card-img.mask_04::after, .card-review .card-img.mask_05::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 100px;
  height: 100%;
  background-size: 100% 100%;
}

.card-review .card-body {
  display: flex;
  align-items: center;
  width: 55%;
  padding: 5px 25px;
}

.card-review .card-body .wrap-quotes {
  height: fit-content;
}

.card-review .card-body .wrap-quotes .desc-card {
  color: #ffffff;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.card-review .card-body .wrap-quotes .desc-card + p {
  color: #eafd04;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.card-review p .small {
  margin-left: 20px;
}

.card-click {
  cursor: pointer;
}

.card-click:hover .title-card {
  color: #ba212a;
}

.card-click:hover img {
  transform: scale(1.1);
}

.card-click img {
  transform: scale(1);
  transition: .3s;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient(0deg, #741422, #e08890);
  opacity: .3;
  transition: .3s;
  color: transparent;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: initial;
  bottom: initial;
  width: 25px;
  height: 25px;
  background: url(/assets/images/ico_arrow.svg) no-repeat;
  background-size: 100%;
  fill: #ffffff;
}

.slick-arrow.slick-prev {
  left: calc(50% - 30%);
  transform: translate(-100%, -50%);
}

.slick-arrow.slick-prev::after {
  transform: translate(-50%, -50%) rotate(270deg);
}

.blog .slick-arrow.slick-prev {
  left: -20px;
}

.slick-arrow.slick-next {
  right: calc(50% - 30%);
  transform: translate(100%, -50%);
}

.slick-arrow.slick-next::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.blog .slick-arrow.slick-next {
  right: -20px;
}

.slick-disabled {
  opacity: 0 !important;
  cursor: default;
}

.slick-dotted {
  margin-bottom: 60px;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  transform: translate(-50%, calc(100% + 30px));
}

.slick-dots li {
  display: flex;
  align-items: center;
  padding: 5px;
}

.slick-dots li button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #6a0c1a;
  opacity: .3;
  transition: .3s;
  color: transparent;
}

.slick-dots li.slick-active button {
  width: 22px;
  height: 22px;
  opacity: 1;
}

.card-img {
  width: 100%;
  height: 260px;
}

.card-body {
  padding: 30px 20px;
}

.label-category {
  padding: 7px 10px;
  color: #ba212a;
  font-size: .9em;
  font-weight: bold;
  border: 1px solid #ba212a;
  border-radius: 5px;
}

.label-category + .label-date {
  margin-left: 20px;
}

.label-date {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.title-card {
  margin-bottom: 0;
  transition: color .2s;
}

.card-link {
  font-size: 1.125em;
  display: inline-block;
  color: #ba212a;
  font-weight: bold;
}

.card-link.link-button {
  display: block;
}

.card-link.link-button img {
  width: 40px;
  height: 40px;
  margin: auto;
  opacity: .2;
}

.video-thumbnail {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video-thumbnail .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 125px;
  background: url(/assets/images/ico_play-button.png) no-repeat;
  background-size: 100%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform .2s;
}

.video-thumbnail .play-button:hover {
  transform: translate(-50%, -50%) scale(0.8);
}

.video-thumbnail > p {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 10px 0;
  padding: 0 20px;
  font-size: 1.25em;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-thumbnail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: initial;
  bottom: initial;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.addibg-oval {
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 185px;
}

.addibg-oval.oval-main::after {
  background: url(/assets/images/bg_oval_01.png) no-repeat;
  background-size: 100%;
}

.addibg-oval.oval-pink::after {
  background: url(/assets/images/bg_oval_02.png) no-repeat;
  background-size: 100%;
}

.addibg-oval.oval-cream::after {
  background: url(/assets/images/bg_oval_03.png) no-repeat;
  background-size: 100%;
}

.addibg-oval.oval-grey::after {
  background: url(/assets/images/bg_oval_04.png) no-repeat;
  background-size: 100%;
}

.addibg-oval::after {
  content: '';
  position: absolute;
  top: initial;
  left: 0;
  right: initial;
  bottom: 2.3vw;
  width: 100%;
  height: 100%;
  max-height: 200px;
  transform: translateY(100%);
}

.heading-bg-main {
  padding: 30px 40px;
  background: url(/assets/images/bg-redmain.jpg) no-repeat;
  background-size: cover;
  border-radius: 30px;
}

.heading-bg-main h1, .heading-bg-main h2, .heading-bg-main h3 {
  margin-bottom: 0;
  color: #eafd04;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.heading-bg-main a, .heading-bg-main .gen-link {
  color: #ffffff;
}

.client-logo-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  flex-basis: fit-content;
  min-width: 1920px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 95px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}

.track:nth-child(2), .track:nth-last-child(2) {
  animation: marqueeTwo 60s linear infinite;
}

.track:nth-last-child(3) {
  animation: marqueeSup 60s linear infinite;
}

@keyframes marqueeSup {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marqueeTwo {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-wrap.hidden-over {
  overflow: hidden;
}

.img-wrap.img-ico {
  display: block;
  width: 100px;
  margin: auto;
}

.img-wrap.img-ico > img {
  object-fit: contain;
}

.img-wrap.client-logo {
  padding: 0 20px;
  height: 95px;
}

.img-wrap.client-logo > img {
  object-fit: contain;
  filter: grayscale(100%);
  opacity: .4;
  transition: all .5s;
}

.img-wrap.client-logo:hover img {
  filter: grayscale(0%);
  opacity: .8;
}

.btn-wrap {
  width: 100%;
  margin-top: 35px;
}

.btn-wrap.root-link a::after {
  background: url(/assets/images/ico_full-arrow.svg) no-repeat;
}

.btn-wrap.download a::after {
  background: url(/assets/images/ico_download.svg) no-repeat;
}

.btn-wrap.icon a {
  text-align: left;
  position: relative;
  padding-right: 60px;
}

.btn-wrap.icon a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: initial;
  right: 25px;
  bottom: initial;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.btn-wrap a, .btn-wrap button {
  display: inline-block;
  min-width: 200px;
  padding: 20px 30px;
  text-align: center;
  background: linear-gradient(105deg, #3a2e2f, #741422, #df878f);
  background-size: 200% 200%;
  background-position: 100% 50%;
  color: #ffffff;
  font-size: 1.125em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-wrap a:hover, .btn-wrap button:hover {
  animation: fillBtnHov 5s ease infinite;
}

.btn-wrap.btn-trans a, .btn-wrap.btn-trans button {
  background: none;
  color: #ba212a;
  border: 2px solid #ba212a;
}

.btn-wrap.btn-trans a:hover, .btn-wrap.btn-trans button:hover {
  animation: none;
  background: rgba(186, 33, 42, 0.1);
}

.btn-wrap.btn-single-focus a {
  font-size: 1.25em;
  font-weight: bolder;
  letter-spacing: 1px;
}

@keyframes fillBtnHov {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.left-direction {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.right-direction {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.bigger-title {
  font-size: 3em;
  font-weight: bolder;
}

.label-darkgrey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: initial;
}

.label-darkgrey > * {
  display: inline-block;
}

.label-darkgrey > span {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #443a35;
}

.table-wrap {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
}

.table-wrap.no-tfooter {
  padding-bottom: 30px;
}

.general-table {
  width: 100%;
  border-collapse: collapse;
}

.general-table thead tr, .general-table tbody tr:last-child {
  border-bottom: 1px solid #efeeee;
}

.general-table tbody tr:nth-child(even), .general-table tbody tr.bg-grey {
  background-color: #f6f6f6;
}

.general-table tbody tr.bg-white {
  background-color: #ffffff;
}

.general-table th, .general-table td {
  padding: 20px 10px;
}

.general-table .small {
  display: block;
  font-size: 65%;
}

.general-table .cell-align-left {
  text-align: left;
}

.normal-weight {
  font-weight: normal;
}

.title-lv1, .text-lv1 {
  font-size: 2em;
}

.title-lv2, .text-lv2 {
  font-size: 1.75em;
}

.title-lv3, .text-lv3 {
  font-size: 1.5em;
}

.title-lv4, .text-lv4 {
  font-size: 1.20em;
}

.italic {
  font-style: italic;
  color: #4b4541;
}

.mg-0 {
  margin: 0;
}

.mg-t-0 {
  margin-top: 0 !important;
}

.mg-t1 {
  margin-top: 1em;
}

.mg-t1-5 {
  margin-top: 1.5em;
}

.mg-t2 {
  margin-top: 2em;
}

.mg-t3 {
  margin-top: 3em;
}

.mg-t4 {
  margin-top: 4em;
}

.mg-t5 {
  margin-top: 5em;
}

.mg-t8 {
  margin-top: 8em;
}

.mg-b-0 {
  margin-bottom: 0 !important;
}

.mg-b1 {
  margin-bottom: 1em;
}

.mg-b1-5 {
  margin-bottom: 1.5em;
}

.mg-b2 {
  margin-bottom: 2em;
}

.mg-b3 {
  margin-bottom: 3em;
}

.mg-b4 {
  margin-bottom: 4em;
}

.mg-b5 {
  margin-bottom: 5em;
}

.mg-b8 {
  margin-bottom: 8em;
}

.pd-0 {
  padding: 0;
}

@media only screen and (max-width: 1600px) {
  .review .slick-arrow.slick-prev {
    left: calc(50% - 40%);
  }
  .review .slick-arrow.slick-next {
    right: calc(50% - 40%);
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    box-sizing: border-box;
  }
  .header {
    width: calc(100% - 40px);
    padding: 0 10px 0 20px;
  }
  .header .logo {
    padding: 15px 0;
  }
  .header .logo img {
    width: 190px;
    height: 49px;
  }
  .header .gnav li a {
    font-size: .9em;
    padding: 0 12.5px;
  }
  .footer::before {
    width: 70%;
  }
  .footer::after {
    width: 30%;
  }
  .footer .ctn-footer:last-child {
    width: calc(100% - 320px);
  }
  .footer .ctn-footer .footer-menu {
    justify-content: flex-end;
    margin-bottom: 3.5em;
  }
  .footer .ctn-footer .footer-menu a {
    font-size: 1em;
    font-weight: bold;
    color: #443a35;
    transition: 0.3s;
  }
  .footer .ctn-footer .footer-menu a:hover {
    color: #741422;
  }
  .footer .ctn-footer .footer-menu a + a {
    margin-left: 30px;
  }
  .gallery.photos-01 .content-image {
    height: 55vw;
  }
  .gallery.photos-01.f-lift .content-image {
    height: 35vw;
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-01 {
    height: 25vw;
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-02 {
    height: 25vw;
  }
  .gallery.photos-02 .album .album-wrap-02 > * {
    height: 25vw;
  }
  .gallery.photos-03 > * {
    height: 30vw;
  }
  .gallery.photos-04 .imgal-01 {
    height: 30vw;
  }
  .gallery.photos-04 .imgal-02 {
    height: 30vw;
  }
  .gallery.photos-05 > * {
    height: 30vw;
  }
  .main-visual {
    padding-top: 80px;
  }
  .main-visual .mv-ctn-group img {
    width: 60px;
    height: 60px;
  }
  .main-visual h1 .title {
    font-size: 1.3em;
    line-height: 1.3;
  }
  .main-visual h1 .subtitle {
    font-size: 0.6em;
  }
  .btn-wrap.icon a::after {
    width: 20px;
    height: 20px;
  }
  .btn-wrap.btn-single-focus a {
    font-size: 1.15em;
  }
  .ctn-style-01 .content-image {
    height: 430px;
  }
  * + .ctn-threecoll-01 {
    margin-top: 40px;
  }
  .video-thumbnail .play-button {
    width: 100px;
    height: 100px;
  }
  .video-thumbnail > p {
    font-size: 1em;
  }
  h2 + .ctn-twocoll-01 {
    margin-top: 50px;
  }
  .review .slick-arrow.slick-prev {
    left: 70px;
  }
  .review .slick-arrow.slick-next {
    right: 70px;
  }
  .label-category {
    font-weight: 500;
  }
  .label-date {
    font-size: .9em;
  }
  .bigger-title {
    font-size: 2.5em;
  }
  .title-lv1, .text-lv1 {
    font-size: 1.75em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.5em;
  }
  .title-lv3, .text-lv3 {
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1em;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .header .logo img {
    width: 150px;
    height: 39px;
  }
  .header .gnav li a {
    font-weight: 400;
    font-size: .85em;
  }
  .header .gnav li a {
    font-weight: 400;
    font-size: .85em;
  }
  .header .gnav li a::before {
    border-radius: 15px;
  }
  .header .gnav .dropdown > .dropdown-content {
    padding: 10px 0;
    border-radius: 15px;
  }
  .header .gnav .dropdown > a {
    padding-right: 25px;
  }
  .header .gnav .dropdown > a::after {
    width: 10px;
    height: 10px;
  }
  .footer .ctn-footer {
    padding: 50px 0;
  }
  .footer .ctn-footer .footer-menu {
    margin-bottom: 2.5em;
  }
  .footer .ctn-footer .footer-menu a {
    font-size: .9em;
    font-weight: 500;
  }
  .footer .ctn-footer .footer-menu a + a {
    margin-left: 30px;
  }
  .footer .ctn-footer .form-news-letter {
    padding-left: calc(100% - 380px);
  }
  .footer .ctn-footer .form-news-letter input[type="email"] {
    width: calc(100% - 75);
    font-size: .9em;
  }
  .footer .ctn-footer .form-news-letter button[type="submit"] {
    width: 75px;
  }
  .footer .social-media {
    margin: 2em 0;
  }
  .footer .social-media a + a {
    margin-left: 2.2em;
  }
  .footer .social-media a img {
    width: 30px;
    height: 30px;
  }
  .footer .copy {
    font-size: .8em;
  }
  .footer .logo img {
    width: 180px;
    height: 46px;
  }
  .footer .footer-address {
    max-width: 280px;
    margin: 2em 0;
  }
  .footer .footer-contact {
    width: 280px;
    height: 144px;
  }
  .footer .footer-contact .contact-link a {
    line-height: 144px;
  }
  .footer .footer-contact .contact-icon img {
    width: 35px;
    height: 35px;
  }
  .gallery.videos-01 > * {
    width: calc(50% - 10px);
  }
  .gallery.videos-01 > *:nth-child(n+3) {
    margin-top: 20px;
  }
  .ctn-style-01 .content-text {
    width: 42%;
  }
  .card-img {
    width: 100%;
    height: 180px;
  }
  .btn-wrap {
    margin-top: 25px;
  }
  .btn-wrap.icon a {
    padding-right: 40px;
  }
  .btn-wrap a {
    min-width: 170px;
    font-size: 1em;
    border-radius: 15px;
  }
  .btn-wrap.btn-single-focus a {
    font-size: 1.125em;
  }
  .card-review {
    max-width: 750px;
  }
  .card-review .card-img {
    height: 360px;
  }
  .card-review .card-body {
    padding: 0 30px;
  }
  .slick-dots li button {
    width: 12px;
    height: 12px;
  }
  .slick-dots li.slick-active button {
    width: 18px;
    height: 18px;
  }
  .br-custom br {
    display: none;
  }
  h1 {
    font-size: 1.5em;
  }
  .bigger-title {
    font-size: 2em;
  }
  .title-lv1, .text-lv1 {
    font-size: 1.5em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.25em;
  }
  .title-lv3, .text-lv3 {
    font-size: 1.125em;
  }
  .title-lv4, .text-lv4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 850px) {
  .onlyPc {
    display: none !important;
  }
  .onlySp {
    display: block !important;
  }
  .sp-center {
    text-align: center;
  }
  .btn-wrap {
    text-align: center;
  }
  .btn-wrap a {
    min-width: 250px;
    font-size: 1.125em;
  }
  .icon.general-list > li {
    padding-left: 50px;
  }
  .contact-layout .two-col + .two-col {
    margin-top: 40px;
  }
  .two-col, .three-col, .four-col {
    width: 100%;
  }
  .section-headtext .form-group:nth-child(n+2) {
    margin-top: 0;
  }
  .section-headtext .form-group label {
    display: none;
  }
  .form-group {
    padding: 0;
  }
  .form-group:nth-child(n+2) {
    margin-top: 25px;
  }
  .full-content .two-col + .two-col h3 {
    margin-top: 2em;
  }
  .table-wrap {
    padding-bottom: 20px;
  }
  .table-wrap .scroll-x {
    overflow-x: scroll;
  }
  .table-wrap .general-table {
    min-width: 900px;
  }
  .table-wrap .general-table.less-column {
    min-width: 600px;
  }
  .gallery.photos-02 > * + * {
    margin-top: 20px;
  }
  .gallery.photos-02 .single {
    width: 100%;
    height: 80vw;
  }
  .gallery.photos-02 .album {
    width: 100%;
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-01 {
    height: 30vw;
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-02 {
    height: 30vw;
  }
  .gallery.photos-02 .album .album-wrap-02 > * {
    height: 30vw;
  }
  .gallery.photos-03 > * {
    width: calc(50% - 10px);
  }
  .gallery.photos-04 .imgal-01 {
    width: calc(65% - 10px);
  }
  .gallery.photos-04 .imgal-02 {
    width: calc(35% - 10px);
  }
  .gallery.photos-05 > *:nth-child(n+2) {
    margin-top: 20px;
    width: calc(50% - 10px);
  }
  .gallery.photos-05 > *:first-child {
    width: 100%;
    height: 80vw;
  }
  .gallery.videos-01 > * {
    width: 100%;
  }
  .gallery.videos-01 > *:nth-child(n+3) {
    margin-top: 30px;
  }
  .general-table td {
    padding: 10px;
  }
  .general-list > li {
    padding-left: 25px;
  }
  .general-list > li::before {
    left: 5px;
  }
  .addibg-oval {
    padding-bottom: 80px;
    margin-bottom: 100px;
  }
  .addibg-oval::after {
    bottom: 17px;
  }
  .row-reverse-sp {
    flex-direction: row-reverse;
  }
  .row-reverse-sp > .content-image {
    margin-bottom: 40px;
  }
  .column-reverse-sp {
    flex-direction: column-reverse;
  }
  .column-reverse-sp > .content-image {
    margin-bottom: 40px;
  }
  .container {
    max-width: 650px;
  }
  .paginationjs .paginationjs-pages ul li {
    margin: 0 3px;
  }
  .paginationjs .paginationjs-pages ul li a {
    padding: 0 10px;
    width: 2.2em;
    font-size: 1em;
    line-height: 2.2em;
    border-radius: 7px;
  }
  .paginationjs .paginationjs-pages ul li.paginationjs-prev,
  .paginationjs .paginationjs-pages ul li.paginationjs-next {
    margin-left: 5px;
    margin-right: 0;
  }
  .paginationjs .paginationjs-pages ul li.paginationjs-prev a::after,
  .paginationjs .paginationjs-pages ul li.paginationjs-next a::after {
    width: 15px;
    height: 15px;
  }
  .paginationjs .paginationjs-pages ul li.paginationjs-prev {
    margin-left: 0;
    margin-right: 5px;
  }
  .header {
    left: 0;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none;
  }
  .header .logo {
    padding: 20px 30px;
  }
  .header .logo img {
    width: 190px;
    height: 49px;
  }
  .header .burger-menu {
    position: relative;
    width: 50px;
    margin: 0 20px;
    padding: 20px;
    display: block;
    cursor: pointer;
  }
  .header .burger-menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 4px;
    border-radius: 5px;
    opacity: 1;
    transition: .3s;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .header .burger-menu span:nth-child(1) {
    top: 35%;
  }
  .header .burger-menu span:nth-child(3) {
    left: inherit;
    right: 6px;
    top: 65%;
    width: 50%;
    transform: translate(0%, -50%);
  }
  .header .burger-menu.on span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header .burger-menu.on span:nth-child(2) {
    opacity: 0;
    width: 0%;
  }
  .header .burger-menu.on span:nth-child(3) {
    top: 50%;
    width: 75%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
  }
  .header.sticky {
    top: -89px;
  }
  .header.sticky .burger-menu span {
    background-color: #443a35;
  }
  .header.sticky .gnav li + li {
    border-top: 1px solid #f0f0f0;
  }
  .header.sticky .gnav li a {
    text-shadow: none;
  }
  .header.sticky .gnav li a::before {
    background: rgba(187, 33, 42, 0.1);
  }
  .header.sticky .gnav .dropdown > .dropdown-content {
    background-color: #f8f8f8;
    box-shadow: none;
  }
  .header.sticky .gnav .dropdown > .dropdown-content a:hover {
    background: rgba(187, 33, 42, 0.1);
  }
  .header.sticky .gnav .dropdown > .dropdown-content > li + li {
    border-top: 1px solid #f0f0f0;
  }
  .header.sticky .gnav .dropdown > a::after {
    fill: #443a35;
    filter: brightness(0.35);
  }
  .header .gnav {
    display: none;
    width: 100%;
    height: calc(100vh - 89px);
    margin: 0;
    padding: 0 0 30px;
    overflow-x: scroll;
  }
  .header .gnav li + li {
    border-top: 1px solid rgba(240, 240, 240, 0.2);
  }
  .header .gnav li a {
    font-size: 1.125em;
    padding: 15px 30px;
  }
  .header .gnav li a::before {
    height: 100%;
    border-radius: 0;
  }
  .header .gnav .dropdown {
    padding-right: 60px;
    position: relative;
  }
  .header .gnav .dropdown > .dropdown-content {
    position: relative;
    top: inherit;
    display: block;
    width: 100%;
    max-height: 0px;
    max-width: inherit;
    padding: 0;
    border-radius: 0;
    z-index: 1;
    transition: max-height .8s;
    overflow: hidden;
  }
  .header .gnav .dropdown > .dropdown-content a {
    padding: 15px 30px;
    line-height: 2.25;
    text-align: left;
  }
  .header .gnav .dropdown > .dropdown-content::before {
    content: none;
  }
  .header .gnav .dropdown:hover > .dropdown-content {
    max-height: 500px;
  }
  .header .gnav .dropdown > a::after {
    right: -40px;
    width: 18px;
    height: 18px;
    z-index: -9;
  }
  .footer {
    position: relative;
  }
  .footer::before, .footer::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
  }
  .footer::before {
    left: 0;
    background: url(/assets/images/bg-redmain.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .footer::after {
    right: 0;
    background-color: #f4e9ea;
  }
  .footer .container {
    background: url(/assets/images/bg_footer.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .footer .ctn-footer {
    padding: 60px 0;
  }
  .footer .ctn-footer:first-child {
    color: #ffffff;
  }
  .footer .ctn-footer > * {
    align-items: center;
  }
  .footer .ctn-footer .footer-menu {
    justify-content: flex-end;
    margin-bottom: 3.5em;
  }
  .footer .ctn-footer .footer-menu a {
    font-size: 1em;
    font-weight: bold;
    color: #443a35;
    transition: 0.3s;
  }
  .footer .ctn-footer .footer-menu a:hover {
    color: #741422;
  }
  .footer .ctn-footer .footer-menu a + a {
    margin-left: 50px;
  }
  .footer .ctn-footer .footer-news-letter {
    text-align: right;
  }
  .footer .ctn-footer .footer-news-letter > p {
    font-size: .9em;
    padding-left: calc(100% - 400px);
  }
  .footer .ctn-footer .form-news-letter {
    display: flex;
    margin-top: 1.5em;
    padding-left: calc(100% - 445px);
  }
  .footer .ctn-footer .form-news-letter input[type="email"] {
    display: inline-block;
    width: 83%;
    padding: 15px 20px;
    font-size: 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #443a35;
    background: rgba(68, 58, 53, 0.1);
  }
  .footer .ctn-footer .form-news-letter input[type="email"]::placeholder {
    color: #443a35;
  }
  .footer .ctn-footer .form-news-letter button[type="submit"] {
    display: inline-block;
    width: 17%;
    background: url(/assets/images/ico_send.svg) center no-repeat, linear-gradient(-45deg, #741422 25%, #df878f);
    background-size: 50%, auto;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  .footer .social-media {
    display: flex;
    margin: 3em 0;
    justify-content: flex-end;
  }
  .footer .social-media a {
    display: inline-block;
    transition: opacity .2s;
  }
  .footer .social-media a + a {
    margin-left: 3em;
  }
  .footer .social-media a img * {
    fill: #443a35 !important;
  }
  .footer .social-media a:hover {
    opacity: .6;
  }
  .footer .copy {
    margin: 0;
    text-align: right;
    font-size: 1em;
  }
  .footer .footer-address {
    max-width: 320px;
    margin: 2.5em 0;
  }
  .footer .footer-contact {
    position: relative;
    width: 320px;
    height: 165px;
    background: url(/assets/images/img_footer_contact.png) no-repeat;
    background-size: 100% 100%;
  }
  .footer .footer-contact .contact-icon * {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-60%, 15%);
    z-index: 1;
  }
  .main-visual:not(.half-mv) {
    background-position: center right 20%;
  }
  .main-visual .mv-ctn-group.half {
    width: 100%;
  }
  .main-visual .mv-ctn-group img {
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .main-visual h1 .title {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
  }
  .main-visual h1 .subtitle {
    text-align: center;
    font-size: .9em;
  }
  .main-visual:not(.half-mv) + .section {
    margin-top: 0;
  }
  .divider {
    height: 15vw;
  }
  .section:not(.bg-red-main, .addibg-oval, .pd-0) {
    padding: 70px 0;
  }
  .section.maps {
    padding: 0;
  }
  .section.maps::after {
    height: 10vw;
  }
  .ctn-style-01 .content-image {
    width: 100%;
    height: 400px;
  }
  .ctn-style-01 .content-text {
    width: 100%;
  }
  .ctn-style-01 .content-text {
    margin-bottom: 40px;
  }
  .ctn-twocoll-01 > * {
    width: 100%;
    max-width: 550px;
  }
  h2 + .ctn-twocoll-01 {
    margin-top: 50px;
  }
  .ctn-threecoll-01 > * {
    width: 100%;
  }
  .ctn-threecoll-01 > *.card-style-01 {
    max-width: 440px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ctn-threecoll-01 > *:not(.slick-list) + .card-style-01 {
    margin-top: 40px;
  }
  .ctn-threecoll-01 > .slick-list {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  .ctn-threecoll-01 > .slick-list .card-style-01 {
    margin: 0 30px;
  }
  .card-style-01.tab-button {
    width: calc(95% / 2);
    order: 1;
  }
  .card-style-01.tab-button > p {
    display: none;
  }
  .card-style-01.tab-button + .tab-button {
    margin-top: 0px;
  }
  .card-style-01.tab-button.active {
    width: 100%;
    margin-top: 40px;
    order: 3;
  }
  .card-style-01.tab-button.active > p {
    display: block;
  }
  .card-style-01.tab-button.active::after {
    bottom: -71px;
  }
  .video-thumbnail > p {
    font-size: 1.125em;
  }
  .video-thumbnail + .video-thumbnail {
    margin-top: 30px;
  }
  .card-img {
    height: 230px;
  }
  .card-body .title-lv2 {
    text-align: left;
  }
  .slick-arrow.slick-prev {
    left: 70px;
  }
  .slick-arrow.slick-next {
    right: 70px;
  }
  .content-text .br-custom br:nth-child(2) {
    display: block;
  }
  .bigger-title {
    font-size: 2em;
  }
  .title-lv1, .title-lv2, .title-lv3 {
    text-align: center;
  }
  .title-lv1, .text-lv1 {
    font-size: 2em;
  }
  .title-lv2, .text-lv2 {
    font-size: 1.75em;
  }
  .title-lv3, .text-lv3 {
    font-size: 1.5em;
  }
  .title-lv4 {
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1.125em;
  }
  .card-review {
    max-width: 440px;
    opacity: 1;
  }
  .blog .card-review {
    max-width: 440px;
  }
  .blog .card-review .card-body {
    width: 100%;
    padding: 30px 20px;
  }
  .blog .card-review .card-img {
    width: 100%;
  }
  .card-review .card-img {
    width: 100%;
    height: 420px;
  }
  .blog .card-review .card-img {
    height: 420px;
  }
  .card-review .card-img.mask_01::after, .card-review .card-img.mask_02::after, .card-review .card-img.mask_03::after, .card-review .card-img.mask_04::after, .card-review .card-img.mask_05::after {
    top: inherit;
    bottom: -190px;
    right: 0;
    width: 80px;
    height: 106%;
    transform: rotate(90deg) translate(0%, 40%);
  }
  .card-review .card-body {
    width: 100%;
    padding: 50px 30px 30px;
  }
  .card-review p .small {
    margin-bottom: 0;
  }
  .quote {
    padding: 0;
    text-align: center;
  }
  .quote::before {
    top: -15px;
    left: 50%;
    transform: translate(-110%, -100%);
  }
  .quote::after {
    display: none;
  }
  .quote + p {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
  }
  .quote + p b {
    display: block;
  }
  .quote + p span {
    display: block;
  }
  .quote + p .small {
    margin-left: 0;
  }
  .footer {
    margin-top: 60px;
    background-color: #f4e9ea;
  }
  .footer::before, .footer::after {
    width: 100%;
    height: 50%;
    z-index: 0;
  }
  .footer::before {
    height: 45%;
  }
  .footer::after {
    top: calc(36% - 5px);
    width: 100%;
    height: 100px;
    background: url(/assets/images/bg_oval_01.png) no-repeat;
    background-size: 100%;
    transform: translateY(100%);
  }
  .footer .container {
    max-width: 650px;
    background: none;
  }
  .footer .ctn-footer {
    width: 100%;
    padding: 60px 0;
  }
  .footer .ctn-footer:last-child {
    margin-top: 100px;
    width: 100%;
  }
  .footer .ctn-footer .footer-menu {
    max-width: 380px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto 3.5em;
  }
  .footer .ctn-footer .footer-menu a {
    width: 50%;
    font-size: 1em;
    font-weight: bold;
    color: #443a35;
    transition: 0.3s;
  }
  .footer .ctn-footer .footer-menu a:hover {
    color: #741422;
  }
  .footer .ctn-footer .footer-menu a + a {
    margin-left: 0;
  }
  .footer .ctn-footer .footer-menu a:nth-child(n+3) {
    margin-top: 20px;
  }
  .footer .ctn-footer .footer-news-letter {
    text-align: center;
  }
  .footer .ctn-footer .footer-news-letter > p {
    max-width: 380px;
    padding-left: 0;
    margin: auto;
    font-size: 1em;
  }
  .footer .ctn-footer .form-news-letter {
    display: flex;
    max-width: 380px;
    margin: 1.5em auto 0;
    padding-left: 0;
  }
  .footer .social-media {
    justify-content: center;
  }
  .footer .copy {
    text-align: center;
    font-size: .9em;
  }
  .footer .logo {
    display: block;
    width: 240px;
    margin: auto;
  }
  .footer .logo img {
    width: 100%;
    height: auto;
  }
  .footer .footer-address {
    max-width: 380px;
    text-align: center;
    margin: 2.5em auto;
  }
  .footer .footer-contact {
    margin: auto;
  }
}

@media only screen and (max-width: 650px) {
  .heading-bg-main {
    padding: 20px 30px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .addibg-oval::after {
    bottom: 10px;
    height: 50px;
    max-height: inherit;
  }
  .row-reverse-sp > .content-image {
    margin-bottom: 25px;
  }
  .column-reverse-sp > .content-image {
    margin-bottom: 25px;
  }
  .heading-bg-main {
    padding: 20px 15px;
    border-radius: 15px;
  }
  .modal-fullscreen .video-player, .modal-fullscreen .image-viewer {
    width: calc(100% - 30px);
  }
  .accordion {
    border-radius: 10px;
  }
  .accordion .accord-button, .accordion .accord-content {
    padding: 0 45px 0 60px;
  }
  .accordion .accord-button::before, .accordion .accord-content::before {
    left: 30px;
    font-size: 2.5em;
  }
  .accordion .accord-button span, .accordion .accord-content span {
    right: 0px;
  }
  .accordion .accord-content {
    border-radius: 10px;
    padding-right: 15px;
  }
  .card-style-01 {
    border-radius: 10px;
  }
  .card-style-01.tab-button .img-wrap {
    border-radius: 10px;
  }
  .gallery + .gallery {
    margin-top: 10px;
  }
  .gallery .img-wrap {
    border-radius: 8px;
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-01 {
    width: calc(65% - 5px);
  }
  .gallery.photos-02 .album .album-wrap-01 .imgal-02 {
    width: calc(35% - 5px);
  }
  .gallery.photos-02 .album .album-wrap-02 > * {
    width: calc(50% - 5px);
  }
  .gallery.photos-02 .album > * + * {
    margin-top: 10px;
  }
  .gallery.photos-02 > * + * {
    margin-top: 10px;
  }
  .gallery.photos-03 > * {
    width: calc(50% - 5px);
  }
  .gallery.photos-04 .imgal-01 {
    width: calc(65% - 5px);
  }
  .gallery.photos-04 .imgal-02 {
    width: calc(35% - 5px);
  }
  .gallery.photos-05 > *:nth-child(n+2) {
    margin-top: 10px;
    width: calc(50% - 5px);
  }
  .gallery.videos-01 {
    padding: 0;
  }
  .container {
    padding: 0 15px;
  }
  .header {
    left: 0;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none;
  }
  .header .logo {
    padding: 10px 15px;
  }
  .header .logo img {
    width: 150px;
    height: auto;
  }
  .header .burger-menu {
    width: 44px;
    margin: 0 15px 0 20px;
  }
  .header .gnav {
    height: calc(100vh - 50px);
  }
  .header .gnav li a {
    font-size: 1em;
    padding: 15px 15px;
  }
  .main-visual {
    padding-top: 40px;
  }
  .main-visual h1 .title {
    font-size: 1.125em;
  }
  .main-visual h1 .subtitle {
    font-size: .8em;
  }
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: initial;
    margin: 0;
    z-index: 0;
  }
  .breadcrumbs > * {
    display: inline-block;
  }
  .breadcrumbs a:hover {
    background-color: #ececec;
  }
  .breadcrumbs a, .breadcrumbs span {
    padding: 0 25px;
    line-height: 40px;
    font-size: .9em;
  }
  .ctn-style-01 .content-image {
    height: 75vw;
  }
  .ctn-style-01 .content-text {
    margin-bottom: 25px;
  }
  .left-direction {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .right-direction {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .ctn-threecoll-01 > .slick-list .card-style-01 {
    margin: 0 1px;
  }
  .btn-wrap a {
    border-radius: 10px;
  }
  .video-thumbnail {
    border-radius: 10px;
  }
  .video-thumbnail .play-button {
    width: 75px;
    height: 75px;
  }
  .card-review {
    border-radius: 10px;
    width: calc(100% - 30px);
  }
  .blog .card-review {
    width: 100%;
  }
  .card-review .card-body {
    padding: 50px 18px 30px;
  }
  .card-review .card-img {
    height: 280px;
  }
  .card-review .card-img.mask_01::after, .card-review .card-img.mask_02::after, .card-review .card-img.mask_03::after, .card-review .card-img.mask_04::after, .card-review .card-img.mask_05::after {
    bottom: -42vw;
    width: 13vw;
    height: 96vw;
  }
  .footer::after {
    top: calc(38% - 10px);
    height: 80px;
  }
  .footer .copy {
    font-size: .8em;
  }
  .footer .logo {
    width: 200px;
  }
  .footer .footer-contact {
    width: 270px;
    height: 145px;
  }
  .footer .footer-contact .contact-link a {
    padding: 0 10px;
    font-size: .9em;
    line-height: 145px;
  }
  .footer .footer-contact .title-lv4 {
    font-size: 1.2em;
  }
  .bigger-title {
    font-size: 1.35em;
  }
  .title-lv1, .text-lv1 {
    font-size: 1.35em;
  }
  .title-lv2, .title-lv3, .title-lv4,
  .text-lv2, .text-lv3, .text-lv4 {
    font-size: 1.25em;
  }
  .card-link, .gen-link, .general-list li, p, label, td {
    font-size: 1em;
  }
}

@media only screen and (max-width: 375px) {
  .icon {
    padding: 0 10px;
  }
  .icon li {
    margin: 20px 0px;
  }
  .footer::after {
    top: calc(41% - 20px);
    height: 60px;
  }
}
